@import "../../mixins.scss";

.repl {
  font-family: Roboto;
  font-style: normal;
  min-height: 0;
  flex-grow: 1;
}

.editorBlock {
  position: relative;
  flex-grow: 1;
  display: flex;
  min-width: 0;
}

.replEditorOverlays {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 50%;
}

.controls {
  margin: 8px;
  display: flex;
  align-items: center;

  label {
    display: flex;
    align-items: center;
    color: #909090;
    margin-right: 8px;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 16px;

    &:hover {
      background: rgba(0, 0, 0, 0.05);

      @include darkTheme {
        background: rgba(255, 255, 255, 0.05);
      }
    }

    input {
      appearance: none;
      border: 1px solid rgb(143, 143, 143, 0.7);
      width: 14px;
      height: 14px;
      border-radius: 4px;
      margin: 4px;
      cursor: inherit;

      &:checked {
        background-color: #49d8ad;
        background-size: 12px 12px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 6L9 17L4 12' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        border: none;
      }
    }
  }
}

.runButton {
  --buttonBg: #49d8ad;
  --buttonTextColour: #fff;
  align-self: flex-start;
  flex-shrink: 0;
  margin-right: auto;
}

.replHistory {
  min-height: 0;
  min-width: 0;
  flex-grow: 1;
}

.historyList {
  @include hideScrollbar;
}
