.details {
  font-style: normal;
  font-weight: 500;
  color: var(--schemasidepanel-colour);
  overflow: auto;
  flex-grow: 1;

  &::-webkit-scrollbar {
    display: none;
  }
}

.header {
  padding: 12px 24px;
  border-bottom: 2px solid var(--schemasidepanel-block-separator);
  margin-bottom: 8px;

  .secondary {
    font-size: 12px;
    line-height: 16px;
    color: var(--schemasidepanel-subheading);
  }

  .objectName {
    font-family: Roboto Mono;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
  }
}

.linkList {
  display: flex;
  flex-wrap: wrap;

  .link {
    margin: 0 4px;
  }
}

.moduleName {
  opacity: 0.5;
}

.link {
  font-family: Roboto Mono;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: var(--schemasidepanel-link);
  cursor: pointer;

  .moduleName {
    opacity: 0.7;
  }
}

.blockMargins {
  margin-left: 24px;
  margin-right: 16px;
}

.fieldGroup {
  padding-bottom: 12px;
  margin-bottom: 8px;

  &:not(:last-child) {
    border-bottom: 2px solid var(--schemasidepanel-block-separator);
  }
}

.subheading {
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--schemasidepanel-subheading);
  padding: 0 24px;
}

.field {
  @extend .blockMargins;
  border-bottom: 1px solid var(--schemasidepanel-separator);

  &:last-child {
    border-bottom: 0;
  }

  .fieldHeader {
    position: relative;
    display: flex;
    align-items: center;
    height: 32px;

    font-family: Roboto Mono;
    font-size: 14px;
    cursor: pointer;

    .type {
      margin-left: auto;
      color: var(--schemasidepanel-subheading);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 120px;
      padding-left: 20px;
    }

    .icon {
      position: absolute;
      width: 12px;
      height: 12px;
      fill: none;
      stroke: var(--schemasidepanel-icon);
      stroke-linecap: round;
      stroke-linejoin: round;
      margin-left: -16px;
    }
  }
}

.fieldBody {
  margin-left: 12px;
  padding-bottom: 8px;

  .subheading {
    padding: 0;
  }
}

.emptyState {
  font-style: italic;
  color: var(--schemasidepanel-subheading);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
