.switcherButton {
  position: relative;
  z-index: 110;
}

.popup {
  position: absolute;
  background: #313131;
  border-radius: 1rem;
  bottom: calc(100% + 10px);
  left: 50%;
  min-width: 100%;
  transform: translateX(-50%);
  padding: 0.5rem 0;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));

  &:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: inherit;
    transform: rotate(45deg);
    top: calc(100% - 6px);
    left: calc(50% - 6px);
    z-index: -1;
  }
}

.item {
  padding: 1rem 2rem;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.3);
  }
}
