.sidepanel {
  min-height: 0;
  display: flex;
}

.details {
  background: var(--schemasidepanel-background);
  width: 312px;
  display: flex;
  flex-direction: column;
}

.tabs {
  background: var(--schemasidepanel-tabs-background);
  width: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 2px solid var(--schemasidepanel-tabs-border);
}

.tab {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px 0;
  border-bottom: 2px solid var(--schemasidepanel-tabs-border);
  cursor: pointer;

  &:first-child {
    border-top: 2px solid var(--schemasidepanel-tabs-border);
  }

  .icon {
    width: 16px;
    height: 16px;
    background: var(--schemasidepanel-tab-icon-background);
    border-radius: 1px;
    font-family: Roboto Mono;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: var(--schemasidepanel-tab-icon-colour);
    margin-bottom: 8px;
  }

  .name {
    font-size: 11px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--schemasidepanel-tab-colour);
    writing-mode: vertical-lr;
    width: 14px;
  }

  &.selected {
    background: var(--schemasidepanel-tab-selected-background);
  }
}

.tag {
  font-weight: bold;
  font-size: 11px;
  line-height: 15px;
  color: var(--schemasidepanel-tag-color);
  background: var(--schemasidepanel-tag-background);
  border-radius: 2px;
  text-transform: uppercase;
  padding: 0 3px;
  margin-left: 8px;
}

.panel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.panelScroll {
  display: flex;
  flex-direction: column;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.searchBar {
  height: 32px;
  background-color: var(--schemasidepanel-filter-background);
  flex-shrink: 0;
  display: flex;
  align-items: center;

  input {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: var(--schemasidepanel-filter-colour);
    align-self: stretch;
    flex-grow: 1;
  }

  .filterIcon {
    width: 12px;
    height: 12px;
    margin: 0 10px;
    color: var(--schemasidepanel-filter-icon);

    &.filterActive {
      color: var(--schemasidepanel-filter-icon-active);
    }
  }

  .clearIcon {
    width: 17px;
    height: 17px;
    padding: 5px;
    color: var(--schemasidepanel-filter-icon);
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

.subheading {
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--schemasidepanel-subheading);
}

.annotation {
  font-style: normal;
  font-weight: 500;
  color: var(--schemasidepanel-colour);
  font-size: 14px;
  line-height: 20px;

  .annotationName {
    font-family: Roboto Mono;
    font-size: 12px;
    line-height: 32px;
    color: var(--schemasidepanel-subheading);
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--schemasidepanel-separator);
    padding-bottom: 6px;
  }
}

.extends {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--schemasidepanel-subheading);
  margin-bottom: 12px;

  .extendsNames {
    color: var(--schemasidepanel-colour);
    font-size: 13px;
  }
}

.codeBlock {
  font-family: Roboto Mono;
  font-size: 14px;
  line-height: 24px;
  background: var(--schemasidepanel-codeblock-background);
  border-radius: 2px;
  padding: 4px 6px;
  margin: 4px 0;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.showSource {
  background: var(--schemasidepanel-codeblock-background);
  border-radius: 2px;
  padding-left: 22px;
  padding-right: 16px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  .showSourceLabel {
    text-transform: uppercase;
    color: var(--schemasidepanel-subheading);
    padding: 10px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .icon {
    width: 12px;
    height: 12px;
    fill: none;
    stroke: var(--schemasidepanel-icon);
    stroke-linecap: round;
    stroke-linejoin: round;
    margin-left: -16px;
    margin-right: 5px;
  }

  pre {
    font-family: inherit;
    margin: 0;
    overflow: auto;
    margin-bottom: 12px;
  }
}
