@import "@edgedb/common/mixins.scss";

.branchGraphOuter {
  position: relative;
  display: flex;
  height: 220px;
  min-width: 0;
  font-family: "Roboto Flex Variable", sans-serif;

  --branchGraphBg: var(--Grey95, #f2f2f2);
  --branchGraphBorder: var(--Grey85, #d9d9d9);
  --branchGraphLine: var(--Grey80, #ccc);

  @include darkTheme {
    --branchGraphBg: var(--Grey10, #1a1a1a);
    --branchGraphBorder: var(--Grey22, #363636);
    --branchGraphLine: var(--Grey30, #4d4d4d);
  }
}

.branchGraph {
  position: relative;
  border-radius: 12px;
  background: var(--branchGraphBg);
  border: 1px solid var(--branchGraphBorder);
  display: flex;
  flex-grow: 1;
  overflow: hidden;

  .disabled & {
    pointer-events: none;
  }
}

.migrationsPanelWrapper {
  position: relative;
  width: 0px;
  flex-shrink: 0;
  z-index: 2;
  transition: width 0.25s;

  --panel_background: #fff;

  &.panelOpen {
    width: 460px;
  }

  .closePanelButton {
    width: auto;
    right: calc(100% + 12px);
    color: var(--secondary_text_color, #666);
    font-weight: 500;
    padding-right: 14px;
    padding-left: 8px;
    white-space: nowrap;
    font-family: inherit;
    font-size: 14px;
    gap: 4px;

    svg {
      transform: rotate(-90deg);
    }
  }

  @include darkTheme {
    --panel_background: #363636;
    --secondary_text_color: #b3b3b3;
  }

  @include isMobile {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100% !important;
    transform: translateX(100%);
    transition: transform 0.25s;

    &.panelOpen {
      transform: translateX(0);
    }

    .closePanelButton {
      display: none;
    }
  }
}

.outerScrollContainer {
  min-width: 0;
  flex-grow: 1;
}

.scrollWrapper {
  overflow: auto;
  height: 100%;
  display: flex;
  border-radius: 11px;
  @include hideScrollbar;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 11px;
    box-shadow: inset 0 0 8px 8px var(--branchGraphBg);
    pointer-events: none;
    z-index: 1;
  }

  &.migrationPopupOpen {
    overflow: hidden;
  }
}

.centerWrapper {
  display: flex;
  width: max-content;
  height: max-content;
  min-width: 100%;
  min-height: 100%;
  align-items: center;

  .loading {
    margin: auto;
    color: var(--Grey60, #999);

    @include darkTheme {
      color: var(--Grey40, #666);
    }
  }

  .error {
    display: flex;
    gap: 4px;
    align-items: center;
    margin: auto;
    padding: 48px;
    font-weight: 450;
    color: #b84444;

    @include darkTheme {
      color: #e26f6f;
    }
  }
}

.floatingButton {
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 6px;
  border: 1px solid var(--branchGraphBorder);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background: var(--branchGraphBg);
  color: #999999;
  cursor: pointer;
  z-index: 1;
  box-shadow: 0px 0px 16px 8px var(--branchGraphBg);

  &.refreshing {
    pointer-events: none;
    svg {
      animation: spin var(--rotationPeriod, 1s) infinite linear;
    }
  }
}

.bottomButton {
  top: auto;
  bottom: 12px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.popupWrapper {
  position: absolute;
  z-index: 2;
}

.nodeGrid {
  display: grid;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  row-gap: 16px;
  justify-items: start;
  align-items: start;
  width: min-content;
  padding: 64px;
  padding-right: 96px;
  margin: auto;

  .disabled & {
    opacity: 0.6;
  }

  .connector {
    height: 100%;
    box-sizing: border-box;
    padding-top: 14px;

    svg {
      stroke-width: 1px;
      stroke: var(--branchGraphLine);
      fill: none;
      width: 31px;
      height: 31px;
    }

    &.line {
      min-width: 16px;
      justify-self: stretch;

      svg {
        width: 100%;
      }
    }

    &.curved {
      width: 31px;
      display: flex;
      flex-direction: column;
      padding-bottom: 0;
      height: calc(100% + 61px);

      svg:nth-child(2) {
        flex-grow: 1;
      }
    }

    &.faded {
      --branchGraphLine: #dedede;

      @include darkTheme {
        --branchGraphLine: #343434;
      }
    }
  }

  .migrationPopupOpen & {
    opacity: 0.5;
    pointer-events: none;
  }
}

.migrationId {
  display: flex;
  height: 22px;
  padding: 0 4px 0 8px;
  margin-bottom: -8px;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  color: var(--Grey50, #808080);
  font-family: "Roboto Mono Variable";
  font-size: 11px;
  font-style: normal;
  font-weight: 450;
  line-height: 16px;
  white-space: nowrap;
  cursor: pointer;

  &:hover,
  &.highlighted {
    background: rgba(0, 0, 0, 0.04);
  }

  svg {
    width: 18px;
    height: 18px;
    color: var(--Grey75, #bfbfbf);
  }

  &.multi {
    align-self: center;
  }

  &.empty {
    font-style: italic;
    padding: 0;
    margin-left: 24px;
    pointer-events: none;
  }

  @include darkTheme {
    &:hover,
    &.highlighted {
      background: rgba(255, 255, 255, 0.06);
    }

    svg {
      color: var(--Grey30, #4d4d4d);
    }
  }
}

.branchNode {
  &.faded {
    opacity: 0.5;
  }
}

.migrationNode {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: max(64px, 100%);
  width: min-content;

  .line,
  .dot,
  .multidot {
    stroke-width: 1px;
    stroke: var(--branchGraphLine);
    fill: var(--branchGraphBg);
    width: 100%;
    height: 31px;
    pointer-events: none;
    z-index: 1;
  }

  .line {
    margin-bottom: -31px;

    &.root {
      margin-left: 44px;
      width: calc(100% - 44px);

      &.multi {
        margin-left: 50%;
        width: 50%;
      }
    }
    &.leaf {
      width: 44px;
    }
  }

  .dot {
    width: 87px;
  }

  &.faded {
    opacity: 0.5;
  }
}

.branchButtonWrapper {
  position: relative;
  padding-left: 24px;

  &.indented {
    padding-left: 59px;
  }

  &.firstBranch {
    padding-top: 4px;
  }

  .branchLine {
    position: absolute;
    left: 28px;
    stroke-width: 1px;
    stroke: var(--Grey70, #b3b3b3);
    stroke-dasharray: 3 3;
    fill: none;
    width: 31px;

    @include darkTheme {
      stroke: var(--Grey40, #666);
    }
  }
}

.branchButton {
  position: relative;
  display: flex;
  max-width: 320px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid var(--Grey85, #d9d9d9);
  background: var(--branchButtonBg);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
  overflow: hidden;
  z-index: 1;

  --branchButtonBg: #fff;

  > *:hover {
    --branchButtonBg: #fafafa;
  }

  @include darkTheme {
    border: 1px solid var(--panel_border, #4d4d4d);
    --branchButtonBg: var(--panel_background, #363636);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);

    > *:hover {
      --branchButtonBg: #404040;
    }
  }

  .branchLink {
    display: flex;
    padding: 0 6px 0 14px;
    min-width: 0;
    justify-content: space-between;
    align-items: center;
    background: var(--branchButtonBg);
    color: var(--main_text_color, #4d4d4d);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    white-space: nowrap;
    text-decoration: none;

    > span {
      overflow: hidden;
      text-overflow: ellipsis;
      direction: rtl;
    }

    svg {
      margin-left: 8px;
      flex-shrink: 0;
      color: var(--Grey50, #808080);
      transition: transform 0.2s;
    }
    &:hover {
      svg {
        transform: translateX(2px);
      }
    }

    @include darkTheme {
      --main_text_color: #ccc;

      svg {
        color: var(--Grey60, #999999);
      }
    }
  }

  .githubDetails {
    flex-shrink: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    border-right: 1px solid var(--Grey90, #e6e6e6);
    background: var(--branchButtonBg);
    cursor: pointer;

    .githubStatus {
      position: absolute;
      display: flex;
      bottom: 1px;
      right: 1px;

      svg {
        width: 20px;
        height: 20px;
      }

      path {
        vector-effect: non-scaling-stroke;
      }

      &.up-to-date {
        color: #70b53a;
      }
      &.error {
        color: #e55e5e;
      }
      &.updating {
        color: #3b8be8;
      }

      svg:first-child {
        margin-right: -20px;
        color: var(--branchButtonBg);
        --strokeWidth: 7px;
      }
    }

    .githubIcon {
      width: 20px;
      height: 20px;
      color: var(--Grey30, #4d4d4d) !important;
    }

    @include darkTheme {
      border-right-color: var(--Grey30, #4d4d4d);

      .githubIcon {
        color: var(--Grey80, #ccc) !important;
      }
    }
  }
}

.githubBranchPopup,
.migrationPopup {
  position: absolute;
  top: calc(100% + 7px);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  background: var(--panel_background, #fff);
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.15))
    drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.08));

  .arrow {
    position: absolute;
    top: -13px;
    left: calc(50% - 16px);
    color: var(--panel_background, #fff);
  }

  @include darkTheme {
    --panel_background: #363636;

    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.5))
      drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
  }
}

.githubBranchPopup {
  display: flex;
  padding: 6px 6px 6px 12px;
  align-items: center;
  gap: 6px;

  color: var(--secondary_text_color, #666);
  font-size: 13px;
  font-style: normal;
  font-weight: 450;
  line-height: 18px;
  white-space: nowrap;

  a {
    display: flex;
    padding: 2px 4px;
    align-items: center;
    border-radius: 4px;
    background: var(--Grey97, #f7f7f7);
    color: var(--main_text_color, #4d4d4d);
    font-family: "Roboto Mono Variable", monospace;
    font-size: 12px;
    font-style: normal;
    font-weight: 450;
    line-height: 16px;
    text-decoration: none;

    svg {
      width: 20px;
      height: 20px;
      color: var(--Grey50, #808080);
    }
  }

  @include darkTheme {
    --secondary_text_color: #b3b3b3;
    --main_text_color: #ccc;

    a {
      background: var(--Grey16, #292929);
    }
  }
}

.migrationsPanel {
  position: absolute;
  width: 460px;
  left: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 12px 0 0 12px;
  background: var(--panel_background);
  box-shadow:
    0px 2px 8px rgba(0, 0, 0, 0.12),
    0px 0px 2px rgba(0, 0, 0, 0.06);
  z-index: 2;

  .closeButton {
    display: none;
  }

  @include isMobile {
    width: 100%;

    .closeButton {
      display: flex;
      align-self: flex-end;
      margin: 12px;
      margin-bottom: 6px;
    }
  }
}

.migrationsPanelInner {
  overflow-y: auto;
  overscroll-behavior: contain;
  mask-image: linear-gradient(
    transparent,
    #000 16px,
    #000 calc(100% - 16px),
    transparent
  );

  .panelScrollWrapper {
    display: flex;
    flex-direction: column;
    padding: 6px 0;
  }

  .migrationItem {
    position: relative;
    padding: 0 12px 8px 32px;

    &:last-child {
      min-height: 100%;
    }

    .dot,
    .line,
    .dashedLine {
      position: absolute;
      width: 31px;
      top: 0;
      left: 0;
      stroke-width: 1px;
      stroke: var(--branchGraphLine);
      fill: var(--panel_background);
    }

    .line {
      height: 100%;
    }

    .dashedLine {
      top: 24px;
      height: calc(100% - 48px);
      stroke-dasharray: 4 4;
    }

    &.leafItem {
      .header {
        background: linear-gradient(
          var(--panel_background),
          var(--panel_background) 24px,
          transparent 24px,
          transparent
        );
      }
    }

    &.rootItem {
      .line {
        height: 24px;
      }
    }
  }

  .header {
    position: sticky;
    top: 0;
    margin-left: -32px;
    padding-left: 32px;
    z-index: 1;

    .dot {
      top: 8px;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 100%;
      width: 8px;
      height: 8px;
      background: radial-gradient(
        circle at 100% 100%,
        transparent,
        transparent 8px,
        var(--panel_background) 8.1px,
        var(--panel_background)
      );
    }

    &:after {
      right: 0;
      background: radial-gradient(
        circle at 0% 100%,
        transparent,
        transparent 8px,
        var(--panel_background) 8.1px,
        var(--panel_background)
      );
    }
  }

  .name {
    color: var(--tertiary_text_color, #808080);
    font-family: "Roboto Mono Variable";
    font-size: 12px;
    font-style: normal;
    font-weight: 450;
    line-height: 26px;
    height: 32px;
    padding: 8px 8px 0 8px;
    align-self: center;
    user-select: text;
    background: var(--panel_background);
  }

  .script {
    display: flex;
    position: relative;
    border-radius: 8px;
    background: var(--app_panel_background, #f7f7f7);

    .codeWrapper {
      overflow: auto;
      width: 100%;
    }

    pre {
      padding: 14px 18px;
      padding-right: 44px;
      margin: 0;
      color: var(--main_text_color, #4d4d4d);
      font-family: "Roboto Mono Variable";
      font-size: 13px;
      font-style: normal;
      font-weight: 450;
      line-height: 22px;
      width: max-content;
      user-select: text;
    }
  }

  .copyButtonWrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    .copyButtonClip {
      position: sticky;
      overflow: hidden;
      top: 40px;
      padding: 0 0 16px 16px;
    }
  }
  .copyButton {
    background: var(--app_panel_background, #f7f7f7);
    box-shadow: 0 0 6px 4px var(--app_panel_background, #f7f7f7);
  }

  .loading {
    color: var(--Grey65, #a6a6a6);
    padding: 20px;
    margin: auto;
  }

  .emptySchemaItem {
    position: relative;
    top: 0;
    margin-left: -32px;
    padding-left: 32px;

    .name {
      font-family: "Roboto Flex Variable";
      font-size: 13px;
      font-style: italic;
      line-height: 30px;
      padding-top: 16px;
      opacity: 0.7;
    }

    .dot {
      top: 16px;
    }
  }

  .childItem {
    position: relative;
    margin: 0 12px 6px 38px;
    padding: 8px 12px 8px 18px;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background: var(--app_panel_background, #f7f7f7);
    }

    &:first-child {
      margin-top: 12px;
    }

    .body {
      overflow: hidden;
      mask-image: linear-gradient(-90deg, transparent, #000 16px, #000);
    }

    .name {
      line-height: 18px;
      height: 26px;
      background: none;
      padding: 0;
    }

    .branches {
      display: flex;
      gap: 8px;
    }

    .branch {
      padding: 4px 8px;
      border-radius: 6px;
      background: rgba(0, 0, 0, 0.03);
      font-size: 13px;
      font-weight: 450;
      color: var(--secondary_text_color, #666);
      white-space: nowrap;
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .connector {
      position: absolute;
      width: 62px;
      top: 2px;
      left: -38px;
      stroke-width: 1px;
      stroke: var(--branchGraphLine);
      fill: var(--panel_background);
      pointer-events: none;
    }

    @include darkTheme {
      &:hover {
        background: var(--Grey25, #404040);
      }

      .branch {
        background: rgba(0, 0, 0, 0.34);
      }
    }
  }

  @include darkTheme {
    --main_text_color: #ccc;
    --secondary_text_color: #b3b3b3;
    --tertiary_text_color: #999;
    --app_panel_background: #242424;
    --branchGraphLine: var(--Grey40, #666);
  }
}
