.object {
  color: var(--text-theme-support);
}

.module {
  color: #888888;
}

.operator {
  color: var(--text-theme-keyword);
}

.typemod {
  color: var(--text-theme-keyword);
}

.filterMatch {
  background-color: var(--schemasidepanel-filter-match);
  padding: 1px 0;
}
