.controls {
  position: absolute;
  top: 0;
  right: 0;
  height: 32px;
  display: grid;
  grid-auto-columns: 46px;
  grid-auto-flow: column;
  font-family: "Segoe MDL2 Assets";
  font-size: 10px;
  color: #fff;
  user-select: none;
  cursor: default;
  -webkit-app-region: no-drag;
  z-index: 1000000;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  &:active {
    background: rgba(255, 255, 255, 0.2);
  }
}

.close {
  &:hover {
    background: #e81123;
  }
  &:active {
    background: #f1707a;
  }
}
