@import "@edgedb/common/mixins.scss";

.header {
  flex-shrink: 0;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 24px;

  .themeSwitcher {
    margin-left: auto;
    z-index: 10;
  }
}

.title {
  display: flex;
  align-items: center;
}

.subtitle {
  display: flex;
  font-family: "EdgeDB";
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  color: #848484;
  margin-left: 8px;

  @include darkTheme {
    color: #7d7d7d;
  }
}

.logo {
  fill: #4f4f4f;

  @include darkTheme {
    fill: #f7f7f7;
  }
}
