.header {
  flex-shrink: 0;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.title {
  display: flex;
  align-items: center;
}

.subtitle {
  font-family: "EdgeDB";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #999999;
  margin-left: 8px;
}

.logo {
  fill: #4c4c4c;
}

.tabs {
  display: flex;
  margin-left: 58px;

  font-family: "Inter", sans-serif;
}

.tab {
  display: flex;
  align-items: center;
  font-size: 15px;

  & > svg {
    fill: #adadad;
  }

  .tabTitle {
    font-weight: 500;
  }
}

.tabSep {
  margin: 0 8px;
}
