.header {
  flex-shrink: 0;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 24px;

  .themeSwitcher {
    margin-left: auto;
    z-index: 10;
  }
}

.title {
  display: flex;
  align-items: center;
}

.subtitle {
  display: flex;
  font-family: "EdgeDB";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #999999;
  margin-left: 8px;
}

.logo {
  fill: #4c4c4c;
}
