@import "@edgedb/common/mixins.scss";

.dashboardWrapper,
.firstDashboardWrapper {
  flex-grow: 1;
  display: flex;
}

.dashboard,
.firstDashboard {
  flex-grow: 1;
  background-color: var(--app_panel_background);
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.04), 0 0 4px rgba(0, 0, 0, 0.06);
  overflow: auto;
  font-family: "Roboto Flex Variable", sans-serif;
  @include hideScrollbar;

  @include darkTheme {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2),
      0px 0px 4px 0px rgba(0, 0, 0, 0.3);
  }

  @include breakpoint(mobile) {
    border-radius: 0;
  }
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  color: var(--main_text_color);

  .loading {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}

.dashboardLayout,
.firstDashboardLayout {
  display: flex;
  flex-direction: column;
  align-items: center;

  .dbName {
    font-size: 26px;
    margin-top: 54px;
    font-family: "Roboto Mono Variable", monospace;
    font-weight: 650;
    text-align: center;

    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      display: inline-block;
    }

    svg {
      fill: #999;
      transform: scale(1.8);
      display: inline-block;
      margin-right: 20px;
    }
  }
}

.dashboard {
  .buttons {
    margin: 30px;
    margin-top: 42px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .button {
    margin: 8px;
    width: 200px;
    height: 80px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 550;
    --buttonPrimaryBackground: var(--app-accent-green);

    svg {
      fill: currentColor;
      margin-right: 12px;
      width: 24px;
      height: 24px;
    }
  }

  .docButtons {
    padding: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    a {
      padding: 20px;
      margin: 10px;
      min-width: 175px;
      text-decoration: none;
      color: inherit;
      outline: none;
      display: inline-flex;
      flex-direction: column;
      align-items: center;

      svg {
        color: #adadad;
        width: 24px;
      }

      span {
        display: inline-block;
        font-size: 16px;
        line-height: 32px;
        font-weight: 550;
      }

      &:hover {
        svg,
        span {
          color: var(--app-accent-green);
        }
      }
    }
  }
}

.stats {
  display: flex;
  gap: 20px 90px;
  margin: 0 56px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;

  .stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }

  .statValue {
    font-weight: 650;
    font-size: 42px;
    line-height: 48px;
  }

  .statLabel {
    font-family: "Roboto Mono Variable", monospace;
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.55;
  }
}

.firstDashboard {
  .congrats {
    font-family: EdgeDB;
    font-weight: bold;
    font-size: 68px;
    max-width: 750px;
    text-align: center;
    line-height: 60px;
    margin-top: 50px;

    background: linear-gradient(90.06deg, #a088ff 1.59%, #e48da2 102.98%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .importData {
    margin-top: 50px;
    max-width: 400px;
    text-align: center;

    h3 {
      font-family: EdgeDB;
      font-size: 25px;
      margin: 0 0 20px 0;
    }

    p {
      font-size: 16px;
      line-height: 20px;
      margin: 20px 0;
    }

    & > div {
      margin: 30px 0;

      button {
        --buttonPrimaryBackground: var(--app-accent-green);
        margin: auto;
        padding: 24px;
        font-weight: 550;
        font-size: 15px;
        border-radius: 8px;
      }
    }
  }
}
