@import "../../mixins.scss";

.repl {
  font-family: Roboto;
  font-style: normal;
  min-height: 0;
  flex-grow: 1;
}

.editorBlock {
  position: relative;
  width: 100%;
}

.replHistory {
  min-height: 0;
  min-width: 0;
  background: var(--repl-history-background);
  flex-grow: 1;
}

.historyList {
  @include hideScrollbar;
}
