@import "@edgedb/common/mixins.scss";

.dataview {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  min-width: 0;
}

.dataviewCard {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  background: var(--app_panel_background);
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.04), 0 0 4px rgba(0, 0, 0, 0.06);
  overflow: hidden;

  @include breakpoint(mobile) {
    border-radius: 0;
  }

  @include darkTheme {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2),
      0px 0px 4px 0px rgba(0, 0, 0, 0.3);
  }
}

.loadingSkeleton {
  justify-content: center;
  align-items: center;
}

.stackedCard {
  position: relative;
  height: 11px;
  flex-shrink: 0;

  &:before {
    content: "";
    position: absolute;
    left: 12px;
    right: 12px;
    top: 0;
    bottom: 0;
    background: linear-gradient(var(--Grey97) 60%, var(--Grey93));
    border-radius: 12px 12px 0 0;

    @include darkTheme {
      background: #242424;
    }
  }

  @include breakpoint(mobile) {
    display: none;
  }
}

.header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 40px;
  background: var(--panel_background);
  padding-left: 4px;
  border-bottom: 1px solid var(--panel_border);

  .nestedView & {
    padding-left: 0;
  }

  .objectSelect {
    font-family: "Roboto Mono Variable", monospace;
    font-size: 13px;
    font-weight: 450;
    height: 32px;
    padding: 0 12px;
    border-radius: 7px;
    color: var(--main_text_color);
    --hoverBg: var(--Grey93);

    .modName {
      opacity: 0.7;
    }

    @include darkTheme {
      --hoverBg: var(--Grey30);
      // color: red;
    }
  }

  button {
    font-family: "Roboto Flex Variable", sans-serif;
    height: 32px;
    padding: 0 8px;
  }

  .insertSelect {
    height: 34px;
    box-shadow: none;
    margin-right: 16px;
    font-weight: 500;
    box-sizing: border-box;

    @include breakpoint(mobile) {
      display: none;
    }
  }

  .rowCount {
    margin: 0 auto;
    display: flex;
    gap: 8px;
    align-items: center;
    font-family: "Roboto Mono Variable", monospace;
    font-size: 13px;

    > span {
      opacity: 0.6;
      font-style: italic;
    }
  }

  .refreshDataButton {
    height: 32px;
    width: 32px;
    border: none;
    color: var(--secondary_text_color);
    padding: 0;
    opacity: 0.7;

    span {
      display: contents;
    }

    &:hover {
      opacity: 1;
      background-color: var(--Grey93);
    }

    @include darkTheme {
      &:hover {
        background-color: var(--Grey30);
      }
    }
  }

  @include breakpoint(mobile) {
    position: absolute;
    bottom: 0;
    z-index: 11;
    display: flex;
    justify-content: space-between;
    padding: 8px 24px;
    width: calc(100% - 48px);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      #fff 48.44%
    );

    .rowCount,
    .headerButton {
      display: none;
    }

    .objectSelect {
      background: #666;
      border-radius: 4px;
      color: #f2f2f2;
      padding: 6px 16px;
      display: flex;
      width: 208px;
      font-weight: 500;
    }

    &.nested {
      bottom: 0;
      background: #666;
      padding: 0 16px;
      height: 48px;
      box-sizing: border-box;
      width: 100%;
      display: flex;

      @include darkTheme {
        background: #999;

        .nestedPathStep {
          color: #141414;
        }
      }

      .filterWrapper {
        .filterButton {
          height: 40px;
          background-color: #b3b3b3;

          @include darkTheme {
            background-color: #666;
          }

          &.filterActive {
            background-color: #b199f2;

            @include darkTheme {
              background-color: #666;
            }
          }
        }

        .removeFilter {
          color: #b3b3b3;

          @include darkTheme {
            color: var(--accentRed);
          }
        }
      }

      .headerButtons {
        align-self: unset;
      }
    }

    .backButton {
      background: transparent;
      width: unset;
      color: #b3b3b3;

      &:hover {
        background: transparent;
      }

      @include darkTheme {
        background: transparent;
        color: #4d4d4d;

        &:hover {
          background: transparent;
        }
      }
    }

    @include darkTheme {
      background: linear-gradient(
        180deg,
        rgba(36, 36, 36, 0) 0%,
        #242424 100%
      );

      .objectSelect {
        background: #999;
        color: #141414;
      }
    }
  }

  .closeNestedView {
    background: transparent;
    padding: 0;
    border: none;
    color: #b3b3b3;

    @include darkTheme {
      color: #4d4d4d;
    }
  }
}

.backButton,
.upButton {
  height: 100%;
  width: 40px;
  background: var(--Grey80);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  svg {
    fill: #fff;
  }

  &:hover {
    background: #57c3a4;
  }

  @include darkTheme {
    background: var(--Grey30);

    svg {
      fill: #adadad;
    }

    &:hover {
      background: #29b189;

      svg {
        fill: #141414;
      }
    }
  }
}

.upButton svg {
  transform: rotate(90deg);
}

.nestedPathSteps {
  display: contents;

  @include breakpoint(mobile) {
    display: flex;
    margin-left: 16px;
    flex-grow: 1;
  }
}

.nestedPathStep {
  font-family: "Roboto Mono Variable", monospace;
  font-weight: 450;
  font-size: 13px;
  line-height: 16px;
  color: var(--main_text_color);
  margin-right: 2rem;

  @include breakpoint(mobile) {
    color: #e6e6e6;
    margin-right: 0;
  }

  .pathStepIdent {
    font-size: 11px;
    line-height: 13px;
    opacity: 0.6;
    overflow: hidden;
    mask-image: linear-gradient(
      90deg,
      #000,
      #000 calc(100% - 15px),
      transparent
    );

    span {
      display: block;
      width: 0;
      white-space: nowrap;
    }

    @include breakpoint(mobile) {
      display: none;
    }
  }

  &:first-child {
    margin-left: 16px;

    @include breakpoint(mobile) {
      margin-left: 0;
      margin-right: 12px;
    }
  }

  &:not(:first-child) {
    .pathStepName {
      margin-left: -1ch;
    }
  }

  &:last-child {
    .pathStepIdent {
      mask-image: none;

      span {
        width: auto;
      }
    }
  }

  @include darkTheme {
    color: #adadad;
  }
}

.headerButtons {
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-right: 4px;

  .reviewChanges {
    --buttonPrimaryBackground: #e79e10;

    @include darkTheme {
      --buttonPrimaryBackground: #b88523;
    }
  }

  .filterButton {
    padding: 0 4px 0 8px;
    border: 0;
    border-radius: 7px;

    &.filterOpen,
    &:hover {
      background: var(--Grey93);

      @include darkTheme {
        background: var(--Grey30);
      }
    }
    &.filterOpen .arrowIcon {
      transform: rotate(180deg);
    }

    &.filterActive {
      span,
      .filterIcon {
        color: #a15ec0;

        @include darkTheme {
          color: #d48cf5;
        }
      }
    }
  }
}

.headerToggle {
  height: 28px;
  margin: 4px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  color: var(--btn-text-color);

  input {
    position: relative;
    appearance: none;
    height: 22px;
    width: 40px;
    background: #e5e5e5;
    border-radius: 11px;
    margin: 5px;
    margin-right: 8px;
    cursor: pointer;

    &:after {
      position: absolute;
      content: "";
      top: 2px;
      left: 2px;
      height: 18px;
      width: 18px;
      border-radius: 9px;
      background: #c8c8c8;
      transition: left 0.1s, background 0.1s;
    }

    &:checked:after {
      left: 20px;
      background: #9d9d9d;
    }

    @include darkTheme {
      background: #111;

      &:after {
        background: #3c3c3c;
      }

      &:checked:after {
        background: #767676;
      }
    }
  }

  @include breakpoint(mobile) {
    display: none;
  }
}

.filterWrapper {
  display: flex;
  align-items: center;
  align-self: stretch;

  .filterButton {
    align-self: stretch;
    display: flex;
    align-items: center;
    padding: 0 12px;
    cursor: pointer;
    font-weight: 500;
    color: var(--btn-text-color);

    .filterIcon {
      fill: var(--btn-green);
      margin-right: 8px;
    }

    .openIcon {
      margin-left: 8px;
      width: 10px;
    }

    &.open {
      background: #cccccc;

      @include darkTheme {
        background: #4c4c4c;
      }

      .openIcon {
        transform: rotate(180deg);
      }
    }
  }

  @include breakpoint(mobile) {
    .filterButton {
      border-radius: 20px;
      background-color: #666;

      .filterIcon {
        margin: 0;
        width: 16px;
        height: 17px;
        fill: #f7f7f7;
      }

      @include darkTheme {
        background-color: #999;

        .filterIcon {
          fill: #1a1a1a;
        }
      }
    }
  }
}

.filterPanel {
  --code-editor-bg: var(--app_panel_background);
  position: relative;
  display: flex;
  background: var(--code-editor-bg);
  height: 190px;
  border-bottom: 1px solid var(--panel_border);
  flex-shrink: 0;

  .title {
    display: none;
  }

  @include breakpoint(mobile) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 11;
    flex-direction: column;

    & > * {
      flex-shrink: 0;
    }

    .editor {
      display: block;
      flex-grow: 1;
      flex-shrink: 1;
      min-height: 0;

      & > div {
        height: 100%;
      }
    }

    .filterActionsMob {
      position: fixed;
      bottom: 24px;
      left: 24px;
      right: 24px;
      display: flex;
      gap: 8px;
      margin: 0;

      .filterBtn {
        width: calc(50% - 40px);
        min-width: fit-content;
        margin: 0;

        &:first-of-type {
          background-color: var(--accentViolet);
        }

        &:disabled {
          color: var(--grey50);
          background-color: var(--grey80);

          @include darkTheme {
            color: var(--grey8);
            background-color: var(--grey30);
          }
        }
      }

      .closeFilterPanel {
        margin-left: 16px;
        flex-shrink: 0;
      }
    }

    .title {
      display: block;
      text-align: center;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      width: 100%;
    }

    @include darkTheme {
      --code-editor-bg: #242424;

      .title {
        color: #b9b9b9;
      }
    }
  }
}

.filterActions {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 8px;
  display: flex;
  align-items: center;
  gap: 8px;

  button {
    height: 32px;
    padding: 0 8px;
  }

  .applyFilterButton {
    --buttonPrimaryBackground: var(--accentGreen);
  }
  .clearFilterButton {
    --buttonPrimaryBackground: var(--accentRed);
  }

  @include breakpoint(mobile) {
    display: none;
  }
}

.filterError {
  color: var(--accentRed);
  font-family: Roboto Mono;
  font-size: 14px;
  margin-right: 16px;
}

.filterErrorMobile {
  @extend .filterError;
  display: none;

  @include breakpoint(mobile) {
    position: absolute;
    top: -60px;
    left: 0;
    display: block;
    margin: 0;
  }
}

.applyFilterMobile {
  display: none;

  @include breakpoint(mobile) {
    display: block;
    width: 100%;
    height: 64px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    border: none;
    background: #2cb88e;
    color: #fff;

    &:disabled {
      opacity: 0.4;
    }

    @include darkTheme {
      color: #141414;
      background: #279474;
    }
  }
}

.dataFetchingError {
  position: absolute;
  background: var(--accentRed);
  bottom: 24px;
  border-radius: 12px;
  color: rgba(255, 255, 255, 0.9);
  padding: 0 10px;
  height: 24px;
  display: flex;
  align-items: center;
  left: 50%;
  transform: translate(-50%, 30px);
  opacity: 0;
  transition: opacity 0.2s, transform 0.2s;

  svg {
    fill: currentColor;
    width: 16px;
    margin-right: 6px;
  }

  &.showError {
    opacity: 1;
    transform: translateX(-50%);
  }
}
