@import "@edgedb/common/mixins.scss";

.dataInspector {
  flex-grow: 1;
  min-height: 0;
  background: #f2f2f2;

  // 6px left padding + 30px delete/edit icon +
  // 10px (chevron width) + 16px (chevron padding)
  --rowIndexWidth: calc(var(--rowIndexCharWidth) * 7.8px + 62px);

  @include breakpoint(mobile) {
    --rowIndexWidth: calc(var(--rowIndexCharWidth) * 7.8px + 74px);
  }

  @include darkTheme {
    background: #2e2e2e;
  }
}

.gridScrollContainer {
  @include hideScrollbar;
}

.gridInner {
  width: max-content;
  min-width: 100%;
}

.innerContainer {
  margin-left: var(--rowIndexWidth);
  margin-bottom: var(--gridBottomPadding);

  @include hideScrollbar;
}

.header {
  box-sizing: border-box;
  position: sticky;
  top: 0;
  height: 48px;
  display: flex;
  width: max-content;
  min-width: 100%;
  padding-left: var(--rowIndexWidth);
  padding-right: 4rem;
  background: rgba(228, 228, 228, 0.9);
  backdrop-filter: blur(4px);
  z-index: 2;

  .headerFieldWrapper {
    position: relative;
    display: flex;
  }

  &.hasSubtypeFields {
    height: 64px;
    padding-top: 16px;
  }

  @include darkTheme {
    background: rgba(37, 37, 37, 0.9);
  }
}

.headerField {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  padding: 0 8px;
  align-items: center;

  font-family: Roboto Mono;

  .fieldTitle {
    flex-shrink: 1;
    overflow: hidden;

    & > div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .fieldName {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #333;
    margin-bottom: 2px;

    span {
      margin-left: 0.5ch;
      opacity: 0.7;
    }
  }

  .fieldTypename {
    font-size: 11px;
    line-height: 16px;
    color: #6d6d6d;
  }

  .fieldSort {
    display: flex;
    padding: 8px 4px;
    margin-left: auto;
    cursor: pointer;
    flex-shrink: 0;

    svg {
      fill: #999;
    }

    &.fieldSorted {
      svg {
        fill: #047cff;
      }
    }

    &.fieldSortAsc {
      transform: scale(-1);
    }
  }

  .fieldWarning {
    position: relative;
    display: flex;

    & > div {
      display: none;
      position: absolute;
      top: 100%;
      left: -16px;
      min-width: 140px;
      font-family: Inter;
      background: #de5353;
      color: rgba(255, 255, 255, 0.9);
      padding: 8px;
      border-radius: 6px;
      z-index: 1;
    }

    svg {
      fill: #de5353;
      width: 16px;
      margin-right: 6px;
    }

    &:hover > div {
      display: block;
    }
  }

  @include darkTheme {
    .fieldName {
      color: #c5c5c5;
    }

    .fieldTypename {
      color: #838383;
    }
  }
}

.dragHandle {
  position: absolute;
  right: -6px;
  width: 12px;
  height: 100%;
  cursor: ew-resize;
  z-index: 1;
  opacity: 0.2;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 2px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 32'%3E%3Cpath d='M 1 2 V 30' stroke='%23000' stroke-width='1' stroke-linecap='round' /%3E%3C/svg%3E");

  &:hover {
    opacity: 0.3;
  }

  @include darkTheme {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 32'%3E%3Cpath d='M 1 2 V 30' stroke='%23fff' stroke-width='1' stroke-linecap='round' /%3E%3C/svg%3E");
  }
}

.subtypeRangeHeader {
  position: absolute;
  top: -12px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;

  .subtypeLabel {
    height: 14px;
    border-radius: 7px;
    padding: 0 8px;
    background: #a8a8a8;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #fff;
  }

  &:before {
    content: "";
    position: absolute;
    background: #a8a8a8;
    left: 8px;
    right: 8px;
    height: 3px;
    border-radius: 3px;
    z-index: -1;
  }

  @include darkTheme {
    .subtypeLabel,
    &:before {
      background: #4d4d4d;
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

.cellWrapper {
  display: flex;
  padding: 4px 0;
  box-sizing: border-box;
  align-items: center;
  border-bottom: 2px solid #e6e6e6;
}

.cell {
  flex-grow: 1;
  box-sizing: border-box;
  overflow: hidden;
  line-height: 32px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 8px;
  font-family: Roboto Mono;
  font-weight: normal;
  font-size: 14px;

  &.selectable {
    user-select: text;
  }
}

.loadingCell {
  &:before {
    content: "";
    position: absolute;
    height: 10px;
    border-radius: 5px;
    left: 1rem;
    top: 15px;
    width: calc(100% - 4rem);
    background: #e6e6e6;

    @include darkTheme {
      background: #2f2f2f;
    }
  }
}

.emptySet {
  opacity: 0.6;
}

.linksCell {
  height: 32px;
  display: flex;
  align-items: center;
  mask-image: linear-gradient(
    90deg,
    #000,
    #000 calc(100% - 15px),
    transparent
  );
}

.editableCell {
  &.hasEdits {
    padding-right: 32px;
  }

  &:hover:after {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    bottom: 4px;
    border: 2px solid #047cff;
    border-radius: 4px;
    opacity: 0.5;
    pointer-events: none;
  }
}

.hasEdits,
.hasErrors {
  &:before {
    content: "";
    position: absolute;
    top: 7px;
    left: 2px;
    bottom: 7px;
    border: 2px solid #ffa900;
    border-radius: 5px;

    @include darkTheme {
      border-color: #e5c18c;
    }
  }
}

.hasErrors:before {
  border-color: #d78d87;

  @include darkTheme {
    border-color: #af6963;
  }
}

.isDeleted {
  opacity: 0.5;
}

.undoCellChanges {
  position: absolute;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 4px;
  right: 0;
  cursor: pointer;

  svg {
    fill: #ffa900;

    @include darkTheme {
      fill: #e5c18c;
    }
  }
}

.linkObjName {
  display: inline-flex;
  flex-shrink: 0;
  height: 24px;
  line-height: 24px;
  background: #e6e6e6;
  border-radius: 12px;
  color: #4d4d4d;
  padding-left: 10px;
  margin-right: 8px;
  overflow: hidden;

  span {
    background: #d9d9d9;
    margin-left: 8px;
    padding: 0 10px 0 8px;
  }

  @include darkTheme {
    background: #3d3d3d;
    color: #adadad;

    span {
      background: #494949;
    }
  }
}

.linkCell:hover {
  cursor: pointer;

  .linkObjName {
    background: #0ccb93;
    color: var(--btn-text-hover);

    span {
      background: #0db181;
    }

    @include darkTheme {
      background: #29b189;

      span {
        background: #049067;
      }
    }
  }
}

.emptySubtypeField {
  color: #747474;
}

.fetchingDataPlaceholder {
  line-height: 32px;
  padding: 0 12px;
  font-style: italic;
  opacity: 0.8;
}

.stickyCol {
  position: relative;
  height: 0px;
  left: 0px;

  .deletedRowStrikethrough {
    position: absolute;
    left: var(--rowIndexWidth);
    width: var(--gridWidth);
    height: 40px;
    z-index: 1;

    &:after {
      content: "";
      position: absolute;
      display: block;
      left: -2px;
      right: -2px;
      height: 0px;
      border: 1px solid #a1843d;
      border-radius: 2px;
      top: 20px;
    }
  }

  .rowHoverBg {
    position: absolute;
    height: 40px;
    width: calc(var(--rowIndexWidth) + var(--gridWidth) + 32px);
    min-width: 100%;

    &.active {
      background: #fafafa;

      @include darkTheme {
        background: #262626;
      }
    }
  }

  .inspectorRow {
    --lineHeight: 28px;

    position: absolute;
    font-family: Roboto Mono;
    font-size: 14px;
    margin-left: var(--rowIndexWidth);
    display: flex;
    align-items: center;
    user-select: text;
    width: 100%;
    z-index: 1;
  }

  .viewInTableButton {
    display: flex;
    align-items: center;
    height: 20px;
    border: 1px solid #666;
    border-radius: 11px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    color: #858585;
    text-transform: uppercase;
    padding: 0 8px;
    margin-left: 1rem;
    cursor: pointer;
    user-select: none;

    @include darkTheme {
      border: 1px solid #7c7c7c;
      color: #adadad;
    }
  }
}

.scalar_uuid {
  color: #6f6f6f;

  &:before,
  &:after {
    content: "";
  }
}

.rowIndex {
  position: absolute;
  width: var(--rowIndexWidth);
  height: 40px;
  z-index: 1;
  display: flex;
  padding-left: 4px;

  &.hasLinkEdit:after {
    content: "";
    position: absolute;
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    border: 2px solid #ffa900;
    border-radius: 5px;

    @include darkTheme {
      border-color: #e5c18c;
    }
  }

  .cell {
    text-align: right;
    flex-grow: 1;
    overflow: visible;
    padding-left: 0;
    font-size: 12px;
    font-weight: 500;
    color: #a7a7a7;
    line-height: 40px;
  }

  @include breakpoint(mobile) {
    height: 58px;
    border-bottom: 2px solid #e6e6e6;
    box-sizing: border-box;

    .cell {
      line-height: 56px;
      color: #7d7d7d;
    }
  }

  .expandRow {
    width: 10px;
    padding: 0 1rem;
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    opacity: 0;

    svg {
      width: 100%;
      transform: rotate(-90deg);
      transition: transform 0.1s;
    }

    &.isExpanded svg {
      transform: none;
    }

    &.isHidden {
      visibility: hidden;
    }
  }

  .expandRowMobile {
    background: transparent;
    border: none;
    padding: 4px 14px;
    margin: 0 12px 0 8px;
  }

  .rowActions {
    display: flex;

    @include breakpoint(mobile) {
      display: none;
    }
  }

  .deleteRowAction {
    display: flex;
    width: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;

    svg {
      fill: #ff4242;
    }
  }

  .selectLinkAction {
    display: flex;
    width: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    input {
      cursor: pointer;
      appearance: none;
      width: 16px;
      height: 16px;
      border: 2px solid #cccccc;
      border-radius: 3px;

      &.isRadio {
        border-radius: 8px;
      }

      &:checked {
        border: 0;
        background-color: #1f8aed;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5 1H1.5C1.22386 1 1 1.22386 1 1.5V4.5C1 4.77614 1.22386 5 1.5 5H5C5.27614 5 5.5 4.77614 5.5 4.5V4H6.5V4.5C6.5 5.32843 5.82843 6 5 6H1.5C0.671573 6 0 5.32843 0 4.5V1.5C0 0.671573 0.671573 0 1.5 0H5C5.82843 0 6.5 0.671573 6.5 1.5H5.5C5.5 1.22386 5.27614 1 5 1ZM8.5 3H5C4.72386 3 4.5 3.22386 4.5 3.5V4H3.5V3.5C3.5 2.67157 4.17157 2 5 2H8.5C9.32843 2 10 2.67157 10 3.5V6.5C10 7.32843 9.32843 8 8.5 8H5C4.17157 8 3.5 7.32843 3.5 6.5H4.5C4.5 6.77614 4.72386 7 5 7H8.5C8.77614 7 9 6.77614 9 6.5V3.5C9 3.22386 8.77614 3 8.5 3Z' fill='white'/%3E%3C/svg%3E%0A");
      }

      @include darkTheme {
        border-color: #7d7d7d;
      }
    }
  }

  &.active {
    .cell {
      color: #00ba83;
    }

    .expandRow {
      opacity: 1;
    }

    .deleteRowAction {
      opacity: 1;
    }
  }
}
