@import "@edgedb/common/mixins.scss";

.dataview {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  min-width: 0;
}

.dataviewCard {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  background: var(--app-panel-bg);
  border-radius: 8px;
  overflow: hidden;

  @include breakpoint(mobile) {
    border-radius: 0;
  }
}

.loadingSkeleton {
  justify-content: center;
  align-items: center;
}

.stackedCard {
  position: relative;
  height: 11px;
  flex-shrink: 0;

  &:before {
    content: "";
    position: absolute;
    left: 8px;
    right: 8px;
    top: 0;
    bottom: 0;
    background: #ededed;
    border-radius: 6px 6px 0 0;

    @include darkTheme {
      background: #242424;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 40px;
  background: #d9d9d9;
  padding-left: 2rem;

  .nestedView & {
    padding-left: 0;
  }

  .objectSelect {
    font-family: Roboto Mono;
    font-size: 13px;

    .modName {
      opacity: 0.65;
    }
  }

  @include darkTheme {
    background: #1f1f1f;
  }

  .insertSelect {
    margin-right: 16px;
    font-weight: 500;
    color: var(--btn-text-color);

    @include breakpoint(mobile) {
      display: none;
    }
  }

  .rowCount {
    margin: 0 auto;
    font-family: "Roboto Mono";
    font-size: 14px;

    span {
      opacity: 0.6;
      font-style: italic;
    }
  }

  @include breakpoint(mobile) {
    position: absolute;
    bottom: 0;
    z-index: 11;
    display: flex;
    justify-content: space-between;
    padding: 8px 24px;
    width: calc(100% - 48px);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      #fff 48.44%
    );

    .rowCount,
    .headerButton {
      display: none;
    }

    .objectSelect {
      background: #666;
      border-radius: 4px;
      color: #f2f2f2;
      padding: 6px 16px;
      display: flex;
      width: 208px;
      font-weight: 500;
    }

    &.nested {
      top: 0;
      background: #666;
      padding: 4px 16px;
      width: calc(100% - 32px);

      @include darkTheme {
        background: #999;

        .nestedPathStep {
          color: #141414;
        }
      }
    }

    .backButton {
      background: transparent;
      width: unset;
      color: #b3b3b3;

      &:hover {
        background: transparent;
      }

      @include darkTheme {
        background: transparent;
        color: #4d4d4d;

        &:hover {
          background: transparent;
        }
      }
    }

    @include darkTheme {
      background: linear-gradient(
        180deg,
        rgba(36, 36, 36, 0) 0%,
        #242424 100%
      );

      .objectSelect {
        background: #999;
        color: #141414;
      }
    }
  }

  .closeNestedView {
    background: transparent;
    padding: 0;
    border: none;
    color: #b3b3b3;

    @include darkTheme {
      color: #4d4d4d;
    }
  }
}

.backButton,
.upButton {
  height: 100%;
  width: 40px;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  svg {
    fill: #fff;
  }

  &:hover {
    background: #57c3a4;
  }

  @include darkTheme {
    background: #333333;

    svg {
      fill: #adadad;
    }

    &:hover {
      background: #29b189;

      svg {
        fill: #141414;
      }
    }
  }
}

.upButton svg {
  transform: rotate(90deg);
}

.nestedPathSteps {
  display: contents;

  @include breakpoint(mobile) {
    display: flex;
  }
}

.nestedPathStep {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #4c4c4c;
  margin-right: 2rem;

  @include breakpoint(mobile) {
    color: #e6e6e6;
    margin-right: 0;
  }

  .pathStepIdent {
    font-size: 11px;
    line-height: 13px;
    opacity: 0.6;
    overflow: hidden;
    mask-image: linear-gradient(
      90deg,
      #000,
      #000 calc(100% - 15px),
      transparent
    );

    span {
      display: block;
      width: 0;
      white-space: nowrap;
    }

    @include breakpoint(mobile) {
      display: none;
    }
  }

  &:first-child {
    margin-left: 16px;

    @include breakpoint(mobile) {
      margin-left: 0;
      margin-right: 12px;
    }
  }

  &:not(:first-child) {
    .pathStepName {
      margin-left: -1ch;
    }
  }

  &:last-child {
    .pathStepIdent {
      mask-image: none;

      span {
        width: auto;
      }
    }
  }

  @include darkTheme {
    color: #adadad;
  }
}

.headerButtons {
  align-self: stretch;
  display: flex;
  align-items: center;
}

.headerButton {
  margin: 4px;
  display: flex;
  align-items: center;
  align-self: center;
  cursor: pointer;
  background: #eaeaea;
  height: 28px;
  border-radius: 14px;
  padding: 0 12px;
  font-weight: 500;
  color: var(--btn-text-color);

  &:hover {
    background: #cecece;
  }

  @include darkTheme {
    background: #141414;

    &:hover {
      background: #2a2a2a;
    }
  }

  &.reviewChanges {
    background: #ffa900;
    color: #fff;

    &:hover {
      background: #e69900;
    }

    @include darkTheme {
      background: #e5c18c;
      color: #141414;

      &:hover {
        background: #cbaa7a;
      }
    }
  }
}

.headerSelect {
  background: #eaeaea;
  height: 28px;
  border-radius: 14px;
  padding: 0 8px;

  @include darkTheme {
    background: #141414;
  }
}

.headerToggle {
  height: 28px;
  margin: 4px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  color: var(--btn-text-color);

  input {
    position: relative;
    appearance: none;
    height: 22px;
    width: 40px;
    background: #e5e5e5;
    border-radius: 11px;
    margin: 5px;
    margin-right: 8px;
    cursor: pointer;

    &:after {
      position: absolute;
      content: "";
      top: 2px;
      left: 2px;
      height: 18px;
      width: 18px;
      border-radius: 9px;
      background: #c8c8c8;
      transition: left 0.1s, background 0.1s;
    }

    &:checked:after {
      left: 20px;
      background: #9d9d9d;
    }

    @include darkTheme {
      background: #111;

      &:after {
        background: #3c3c3c;
      }

      &:checked:after {
        background: #767676;
      }
    }
  }

  @include breakpoint(mobile) {
    display: none;
  }
}

.filterButton {
  align-self: stretch;
  display: flex;
  align-items: center;
  padding: 0 12px;
  cursor: pointer;
  font-weight: 500;
  color: var(--btn-text-color);

  .filterIcon {
    fill: var(--btn-green);
    margin-right: 8px;
  }

  .openIcon {
    margin-left: 8px;
    width: 10px;
  }

  &.open {
    background: #cccccc;

    @include darkTheme {
      background: #4c4c4c;
    }

    .openIcon {
      transform: rotate(180deg);
    }
  }

  @include breakpoint(mobile) {
    border-radius: 20px;
    padding: 0 12px;
    background-color: #666;

    .filterIcon {
      margin: 0;
      width: 16px;
      height: 17px;
      fill: #f7f7f7;
    }

    @include darkTheme {
      background-color: #999;

      .filterIcon {
        fill: #1a1a1a;
      }
    }
  }
}

.filterActive {
  background-color: #b199f2;

  @include darkTheme {
    background-color: #999;
  }
}

.removeFilter {
  display: none;

  @include breakpoint(mobile) {
    display: block;
    position: absolute;
    bottom: 16px;
    right: 72px;
    background: transparent;
    border: none;
    color: #808080;

    @include darkTheme {
      color: #af6963;
    }
  }
}

.filterPanel {
  --code-editor-bg: #f2f2f2;
  position: relative;
  display: flex;
  background: var(--code-editor-bg);
  height: 190px;

  @include darkTheme {
    --code-editor-bg: #2e2e2e;
  }

  .title {
    display: none;
  }

  .closeFilterPanel {
    display: none;
  }

  @include breakpoint(mobile) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 11;
    display: block;

    .closeFilterPanel {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      background: transparent;
      border: none;
      color: #737373;
    }

    .title {
      display: block;
      text-align: center;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      width: 100%;
    }

    @include darkTheme {
      --code-editor-bg: #242424;

      .title {
        color: #b9b9b9;
      }
    }
  }
}

.filterActions {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 6px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  --buttonTextColour: #fff;

  .clearFilterButton {
    --buttonBg: #e5aaa5;
  }
  .disableFilterButton {
    --buttonBg: #e5c18c;
  }
  .applyFilterButton {
    --buttonBg: #49d8ad;
  }

  @include darkTheme {
    --buttonTextColour: #1f1f1f;

    .clearFilterButton {
      --buttonBg: #b6635c;
    }
    .disableFilterButton {
      --buttonBg: #a1843d;
    }
    .applyFilterButton {
      --buttonBg: #29b189;
    }
  }

  @include breakpoint(mobile) {
    display: none;
  }
}

.filterError {
  color: #f13f4a;
  font-family: Roboto Mono;
  font-size: 14px;
  margin-right: 16px;
}

.filterErrorMobile {
  @extend .filterError;
  display: none;

  @include breakpoint(mobile) {
    display: block;
    margin: 16px;
  }
}

.applyFilterMobile {
  display: none;

  @include breakpoint(mobile) {
    display: block;
    width: 100%;
    height: 64px;
    position: absolute;
    bottom: 0px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    border: none;
    background: #2cb88e;
    color: #fff;

    &:disabled {
      opacity: 0.4;
    }

    @include darkTheme {
      color: #141414;
      background: #279474;
    }
  }
}

.dataFetchingError {
  position: absolute;
  background: #de5353;
  bottom: 24px;
  border-radius: 12px;
  color: rgba(255, 255, 255, 0.9);
  padding: 0 10px;
  height: 24px;
  display: flex;
  align-items: center;
  left: 50%;
  transform: translate(-50%, 30px);
  opacity: 0;
  transition: opacity 0.2s, transform 0.2s;

  svg {
    fill: currentColor;
    width: 16px;
    margin-right: 6px;
  }

  &.showError {
    opacity: 1;
    transform: translateX(-50%);
  }
}

.inspectorTable {
  top: 37px;
  position: relative;
}
