@import "@edgedb/common/mixins.scss";

.dataInspector {
  flex-grow: 1;
  min-height: 0;

  // 6px left padding + 30px delete icon +
  // 10px (chevron width) + 16px (chevron padding)
  --rowIndexWidth: calc(var(--rowIndexCharWidth) * 7.8px + 62px);

  & > div {
    @include customScrollbar;
  }

  &.editMode {
    // above + 30px checkbox
    --rowIndexWidth: calc(var(--rowIndexCharWidth) * 7.8px + 92px);
  }
}

.innerContainer {
  margin-left: var(--rowIndexWidth);
}

.header {
  box-sizing: border-box;
  position: sticky;
  top: 0;
  height: 48px;
  display: flex;
  width: max-content;
  min-width: 100%;
  padding-left: var(--rowIndexWidth);
  padding-right: 4rem;
  background: rgba(214, 214, 214, 0.9);
  backdrop-filter: blur(4px);
  z-index: 2;

  .headerFieldWrapper {
    position: relative;
    display: flex;
  }

  &.hasSubtypeFields {
    height: 64px;
    padding-top: 16px;
  }

  @include darkTheme {
    background: rgba(29, 29, 29, 0.8);
  }
}

.headerField {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  padding: 0 8px;
  align-items: center;

  font-family: Roboto Mono;

  .fieldTitle {
    flex-shrink: 1;
    overflow: hidden;

    & > div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .fieldName {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #333;
    margin-bottom: 2px;
  }

  .fieldTypename {
    font-size: 11px;
    line-height: 16px;
    color: #6d6d6d;
  }

  .fieldSort {
    display: flex;
    padding: 8px;
    margin-left: auto;
    cursor: pointer;
    flex-shrink: 0;

    &.fieldSortDesc {
      transform: scale(-1);
    }
  }

  @include darkTheme {
    .fieldName {
      color: #c5c5c5;
    }

    .fieldTypename {
      color: #838383;
    }
  }
}

.dragHandle {
  position: absolute;
  right: -6px;
  width: 12px;
  height: 100%;
  cursor: ew-resize;
  z-index: 1;
  opacity: 0.2;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 2px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 32'%3E%3Cpath d='M 1 2 V 30' stroke='%23000' stroke-width='1' stroke-linecap='round' /%3E%3C/svg%3E");

  &:hover {
    opacity: 0.3;
  }

  @include darkTheme {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 32'%3E%3Cpath d='M 1 2 V 30' stroke='%23fff' stroke-width='1' stroke-linecap='round' /%3E%3C/svg%3E");
  }
}

.subtypeRangeHeader {
  position: absolute;
  top: -12px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;

  .subtypeLabel {
    height: 14px;
    border-radius: 7px;
    padding: 0 8px;
    background: #939393;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #fff;
  }

  &:before {
    content: "";
    position: absolute;
    background: #939393;
    left: 8px;
    right: 8px;
    height: 3px;
    border-radius: 3px;
    z-index: -1;
  }

  @include darkTheme {
    .subtypeLabel,
    &:before {
      background: #4d4d4d;
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

.cellWrapper {
  display: flex;
}

.cell {
  flex-grow: 1;
  box-sizing: border-box;
  overflow: hidden;
  line-height: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 8px;
  font-family: Roboto Mono;
  font-weight: normal;
  font-size: 13px;
}

.loadingCell {
  &:before {
    content: "";
    position: absolute;
    height: 10px;
    border-radius: 5px;
    left: 1rem;
    top: 10px;
    width: calc(100% - 4rem);
    background: #e6e6e6;

    @include darkTheme {
      background: #2f2f2f;
    }
  }
}

.emptySet {
  opacity: 0.6;
}

.linksCell {
  display: flex;
  align-items: center;
  mask-image: linear-gradient(
    90deg,
    #000,
    #000 calc(100% - 15px),
    transparent
  );
}

.editableCell {
  &:hover:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #287cff;
    border-radius: 4px;
  }
}

.hasEdits {
  &:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    border: 2px solid #ffa900;
    border-radius: 5px;
  }
}

.isDeleted {
  opacity: 0.4;
}

.linkObjName {
  height: 22px;
  line-height: 22px;
  background: #d9d9d9;
  border-radius: 11px;
  color: #4d4d4d;
  padding: 0 8px;
  margin-right: 6px;

  @include darkTheme {
    background: #3d3d3d;
    color: #8b8b8b;
  }
}

.emptySubtypeField {
  color: #747474;
}

.stickyCol {
  position: relative;
  height: 0px;
  left: 0px;
  z-index: 1;

  .rowIndex {
    position: absolute;
    width: var(--rowIndexWidth);
    height: 30px;
    display: flex;
    padding-left: 4px;

    &.hasLinkEdit:after {
      content: "";
      position: absolute;
      position: absolute;
      top: 2px;
      left: 2px;
      bottom: 2px;
      border: 2px solid #ffa900;
      border-radius: 5px;
    }
  }

  .deletedRowStrikethrough {
    position: absolute;
    left: var(--rowIndexWidth);
    width: var(--gridWidth);
    height: 30px;

    &:after {
      content: "";
      position: absolute;
      display: block;
      left: -2px;
      right: -2px;
      height: 0px;
      border: 1px solid #ffa900;
      border-radius: 2px;
      top: 14px;
    }
  }

  .cell {
    color: #686868;
    text-align: right;
    flex-grow: 1;
    overflow: visible;
    padding-left: 0;
  }

  .expandRow {
    width: 10px;
    padding: 0 1rem;
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    align-items: center;

    svg {
      width: 100%;
      transform: rotate(-90deg);
      transition: transform 0.1s;
    }

    &.isExpanded svg {
      transform: none;
    }

    &.isHidden {
      visibility: hidden;
    }
  }

  .inspectorRow {
    --lineHeight: 24px;

    position: absolute;
    font-family: Roboto Mono;
    font-size: 13px;
    margin-left: var(--rowIndexWidth);
    display: flex;
    align-items: center;
  }

  .viewInTableButton {
    display: flex;
    align-items: center;
    height: 20px;
    border: 1px solid #666;
    border-radius: 11px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    color: #858585;
    text-transform: uppercase;
    padding: 0 8px;
    margin-left: 1rem;
    cursor: pointer;

    @include darkTheme {
      border: 1px solid #7c7c7c;
      color: #adadad;
    }
  }
}

.scalar_uuid {
  color: #6f6f6f;
}

.rowActions {
  display: flex;
}

.deleteRowAction {
  display: flex;
  width: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;

  svg {
    fill: #ff4242;
  }

  .rowIndex:hover & {
    opacity: 1;
  }
}

.selectLinkAction {
  display: flex;
  width: 30px;
  align-items: center;
  cursor: pointer;

  input {
    cursor: pointer;
  }
}
