@import "@edgedb/common/mixins.scss";

.dataInspector {
  flex-grow: 1;
  min-height: 0;
  background: #f2f2f2;

  // 6px left padding + 30px delete/edit icon +
  // 10px (chevron width) + 16px (chevron padding)
  --rowIndexWidth: calc(var(--rowIndexCharWidth) * 7.8px + 62px);

  @include breakpoint(mobile) {
    --rowIndexWidth: calc(var(--rowIndexCharWidth) * 7.8px + 74px);

    --inspector-green: #2cb88e;
    --inspector-orange: #e5a507;

    @include darkTheme {
      --inspector-green: #00ba83;
      --inspector-orange: #d0a02b;
    }
  }

  @include darkTheme {
    background: #2e2e2e;

    @include breakpoint(mobile) {
      background: #242424;
    }
  }

  @include breakpoint(mobile) {
    @include darkTheme {
      background: #242424;
    }
  }
}

.gridScrollContainer {
  @include hideScrollbar;
}

.gridInner {
  width: max-content;
  min-width: 100%;
}

.innerContainer {
  margin-left: var(--rowIndexWidth);
  margin-bottom: var(--gridBottomPadding);

  @include hideScrollbar;
}

.headers {
  grid-template-rows: 1fr auto;
}

.headerField {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  height: 48px;
  padding: 0 8px 0 12px;
  align-items: center;

  font-family: "Roboto Mono Variable";

  .fieldTitle {
    flex-shrink: 1;
    overflow: hidden;

    & > div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .fieldName {
    font-weight: 450;
    font-size: 13px;
    line-height: 16px;
    color: #333;
    margin-bottom: 2px;

    span {
      margin-left: 0.5ch;
      opacity: 0.7;
    }

    @include breakpoint(mobile) {
      color: var(--grey30);
    }
  }

  .fieldTypename {
    font-size: 11px;
    line-height: 16px;
    color: var(--grey50);
    font-weight: 450;
  }

  .fieldSort {
    display: flex;
    padding: 8px 4px;
    margin-left: auto;
    cursor: pointer;
    flex-shrink: 0;

    svg {
      fill: #999;
    }

    &.fieldSorted {
      svg {
        fill: #047cff;
      }
    }

    &.fieldSortAsc {
      transform: scale(-1);
    }
  }

  .fieldWarning {
    position: relative;
    display: flex;

    & > div {
      display: none;
      position: absolute;
      top: 100%;
      left: -16px;
      min-width: 140px;
      font-family: Inter;
      background: #de5353;
      color: rgba(255, 255, 255, 0.9);
      padding: 8px;
      border-radius: 6px;
      z-index: 1;
    }

    svg {
      fill: #de5353;
      width: 16px;
      margin-right: 6px;
    }

    &:hover > div {
      display: block;
    }
  }

  @include darkTheme {
    .fieldName {
      color: #c5c5c5;

      @include breakpoint(mobile) {
        color: var(--baseTextDarkTheme);
      }
    }
  }
}

.subtypeRangeHeader {
  position: relative;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
  margin-bottom: -4px;
  z-index: 1;
  pointer-events: none;
  min-width: 0;

  .subtypeLabel {
    height: 16px;
    border-radius: 7px;
    padding: 0 8px;
    background: var(--Grey93);
    font-family: "Roboto Mono Variable", monospace;
    font-style: normal;
    font-weight: 450;
    font-size: 11px;
    line-height: 15px;
    color: var(--secondary_text_color);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:before {
    content: "";
    position: absolute;
    background: var(--Grey93);
    left: 8px;
    right: 8px;
    height: 3px;
    border-radius: 3px;
    z-index: -1;
  }

  @include darkTheme {
    .subtypeLabel,
    &:before {
      background: #4d4d4d;
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

.cellWrapper {
  display: flex;
  padding: 4px 0;
  box-sizing: border-box;

  @include breakpoint(mobile) {
    border-bottom: 2px solid #e6e6e6;
    align-items: center;

    @include darkTheme {
      border-color: #141414;
    }
  }
}

.cell {
  flex-grow: 1;
  box-sizing: border-box;
  overflow: hidden;
  line-height: 39px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 12px;
  font-family: "Roboto Mono Variable", monospace;
  font-weight: normal;
  font-size: 14px;

  &.selectable {
    user-select: text;
  }

  .firstCol & {
    padding-left: 16px;
  }
}

.hoveredCell {
  background: #fff;

  @include darkTheme {
    background: var(--Grey18);
  }
}

.loadingCell {
  &:before {
    content: "";
    position: absolute;
    height: 10px;
    border-radius: 5px;
    left: 1rem;
    top: 15px;
    width: calc(100% - 4rem);
    background: #e6e6e6;

    @include darkTheme {
      background: #2f2f2f;
    }
  }
}

.emptySet {
  opacity: 0.6;
}

.linksCell {
  height: 39px;
  display: flex;
  align-items: center;
}

.editableCell {
  &.hasEdits {
    padding-right: 32px;
  }

  &:hover:after {
    content: "";
    position: absolute;
    inset: -1px;
    border: 2px solid #047cff;
    border-radius: 2px;
    opacity: 0.8;
    pointer-events: none;

    .firstCol & {
      left: 0;
    }
  }
}

.hasEdits,
.hasErrors {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 3px;
    background-color: #ffa900;

    @include darkTheme {
      background-color: #b88523;
    }
  }
}

.hasEdits {
  background: #fff5e3;

  @include darkTheme {
    background: #4e422c;
  }
}

.hasErrors {
  background: #fee;

  .invalidValue {
    color: #c44f45;
  }
  &:before {
    background-color: #d17870;
  }

  @include darkTheme {
    background: #3a2323;

    .invalidValue {
      color: #e6776e;
    }
    &:before {
      background-color: #e26e64;
    }
  }
}

.isDeleted {
  opacity: 0.3;
  background: rgba(0, 0, 0, 0.07);
  pointer-events: none;

  @include darkTheme {
    background: rgba(0, 0, 0, 0.45);
  }
}

.undoCellChanges {
  position: absolute;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 4px;
  right: 0;
  cursor: pointer;

  svg {
    fill: #ffa900;

    @include darkTheme {
      fill: #b88523;
    }
  }
}

.linkObjName {
  display: inline-flex;
  flex-shrink: 0;
  height: 24px;
  line-height: 24px;
  background: #e6e6e6;
  border-radius: 12px;
  color: #4d4d4d;
  padding-left: 10px;
  margin-right: 8px;
  overflow: hidden;

  span {
    background: #d9d9d9;
    margin-left: 8px;
    padding: 0 10px 0 8px;
  }

  @include darkTheme {
    background: #3d3d3d;
    color: #adadad;

    span {
      background: #494949;
    }
  }
}

.linkCell:hover {
  cursor: pointer;

  .linkObjName {
    background: #0ccb93;
    color: var(--btn-text-hover);

    span {
      background: #0db181;
    }

    @include darkTheme {
      background: #29b189;

      span {
        background: #049067;
      }
    }
  }
}

.emptySubtypeField {
  color: #747474;
}

.fetchingDataPlaceholder {
  line-height: 32px;
  padding: 0 12px;
  font-style: italic;
  opacity: 0.8;
}

.inspectorRow {
  --lineHeight: 28px;

  position: absolute;
  font-family: "Roboto Mono Variable", monospace;
  font-size: 14px;
  display: flex;
  align-items: center;
  user-select: text;
  box-sizing: border-box;
  width: 100%;

  &.lastItem {
    border-bottom: 1px solid var(--panel_border);
  }

  .viewInTableButton {
    display: flex;
    align-items: center;
    height: 20px;
    border: 1px solid var(--Grey80);
    border-radius: 11px;
    font-family: "Roboto Flex Variable", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    color: #858585;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 0 8px;
    margin-left: 1rem;
    cursor: pointer;
    user-select: none;

    @include darkTheme {
      border: 1px solid #7c7c7c;
      color: #adadad;
    }
  }
}

.rowIndex {
  display: flex;
  padding-left: 4px;

  &.hasLinkEdit,
  &.isNewRow,
  &.isDeletedRow {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 3px;
      background-color: #ffa900;

      @include darkTheme {
        background-color: #b88523;
      }
    }
  }
  &.isNewRow:before {
    background-color: #58ba2b;

    @include darkTheme {
      background-color: #55873d;
    }
  }
  &.isDeletedRow:before {
    background-color: #d17870;

    @include darkTheme {
      background-color: #e26e64;
    }
  }

  &.unlinked,
  &.isDeletedRow {
    background: var(--Grey95);

    @include darkTheme {
      background: var(--Grey12);
    }
  }

  .index {
    text-align: right;
    flex-grow: 1;
    font-size: 13px;
    font-weight: 450;
    color: var(--secondary_text_color);
    align-self: center;
  }

  @include breakpoint(mobile) {
    height: 58px;
    border-bottom: 2px solid #e6e6e6;
    box-sizing: border-box;

    .cell {
      line-height: 56px;
      font-size: 14px;
      color: #7d7d7d;
    }

    @include darkTheme {
      border-color: #141414;

      .cell {
        color: #b9b9b9;
      }
    }
  }

  .expandRow {
    width: 26px;
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    opacity: 0;

    svg {
      color: var(--tertiary_text_color);
      transform: rotate(-90deg);
      transition: transform 0.1s;
    }

    &.isExpanded {
      opacity: 1;

      svg {
        transform: none;
      }
    }

    &.isHidden {
      visibility: hidden;
    }
  }

  .expandRowMobile {
    background: transparent;
    border: none;
    padding: 4px 14px;
    margin: 3px 12px 0 8px;
    color: #b3b3b3;

    @include darkTheme {
      color: #666;
    }
  }

  .rowActions {
    display: flex;

    @include breakpoint(mobile) {
      display: none;
    }
  }

  .deleteRowAction {
    display: flex;
    width: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;

    svg {
      fill: #ff4242;
    }
  }

  .selectLinkAction {
    display: flex;
    width: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    input {
      cursor: pointer;
      appearance: none;
      width: 16px;
      height: 16px;
      border: 2px solid #cccccc;
      border-radius: 3px;

      &.isRadio {
        border-radius: 8px;
      }

      &:checked {
        border: 0;
        background-color: #1f8aed;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5 1H1.5C1.22386 1 1 1.22386 1 1.5V4.5C1 4.77614 1.22386 5 1.5 5H5C5.27614 5 5.5 4.77614 5.5 4.5V4H6.5V4.5C6.5 5.32843 5.82843 6 5 6H1.5C0.671573 6 0 5.32843 0 4.5V1.5C0 0.671573 0.671573 0 1.5 0H5C5.82843 0 6.5 0.671573 6.5 1.5H5.5C5.5 1.22386 5.27614 1 5 1ZM8.5 3H5C4.72386 3 4.5 3.22386 4.5 3.5V4H3.5V3.5C3.5 2.67157 4.17157 2 5 2H8.5C9.32843 2 10 2.67157 10 3.5V6.5C10 7.32843 9.32843 8 8.5 8H5C4.17157 8 3.5 7.32843 3.5 6.5H4.5C4.5 6.77614 4.72386 7 5 7H8.5C8.77614 7 9 6.77614 9 6.5V3.5C9 3.22386 8.77614 3 8.5 3Z' fill='white'/%3E%3C/svg%3E%0A");
      }

      @include darkTheme {
        border-color: #7d7d7d;
      }
    }
  }

  &.active {
    background: #fff;

    .expandRow {
      opacity: 1;
    }

    .deleteRowAction {
      opacity: 1;
    }

    @include darkTheme {
      background: var(--Grey18);
    }
  }
}

.mobileInspectorWindow {
  display: none;

  @include breakpoint(mobile) {
    display: flex;
    position: fixed;
    top: 56px;
    left: 0;
    width: 100%;
    height: calc(100vh - 88px - 56px);
    z-index: 11;
    background: #f7f7f7;
    margin-left: 0;
    overflow: auto;
    flex-direction: column;

    .fieldsWrapper {
      flex-grow: 1;
    }

    .footerBtn {
      background: transparent;
      border: none;
      padding: 0;
      color: #b3b3b3;
      line-height: 0.8;
    }

    .footer {
      padding: 16px;
      display: flex;
      background: #666;
      align-items: center;
      position: sticky;
      bottom: 0;
    }

    .title {
      color: #e6e6e6;
      text-align: center;
      font-family: Roboto Mono;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      margin: 0px 16px;
    }

    .field {
      padding: 16px 24px;
      font-family: Roboto Mono;
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
      border-bottom: 2px solid #d9d9d9;

      .fieldHeader {
        display: flex;
        justify-content: space-between;
      }

      .name {
        overflow: hidden;
        color: #1a1a1a;
        text-overflow: ellipsis;
        font-weight: 500;
      }

      .type {
        color: #808080;
        text-align: right;
      }

      .fieldValue {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0;
      }
    }

    .linkObjName {
      margin-top: 4px;
      padding-top: 0;
      padding-right: 0;
      border: none;
      font-family: Roboto Mono;
      font-size: 14px;
    }

    @include darkTheme {
      background: #242424;

      .field {
        border-color: #141414;

        .name {
          color: #b9b9b9;
        }
      }

      .footer {
        background: #999;
      }

      .footerBtn {
        color: #4d4d4d;
      }

      .title {
        color: #141414;
      }
    }
  }
}
