@import "@edgedb/common/mixins.scss";

.dataview {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  min-width: 0;
}

.dataviewCard {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  background: var(--app-panel-bg);
  border-radius: 8px;
  overflow: hidden;
  z-index: 1;
}

.loadingSkeleton {
  justify-content: center;
  align-items: center;
}

.stackedCard {
  position: relative;
  height: 11px;
  flex-shrink: 0;

  &:before {
    content: "";
    position: absolute;
    left: 8px;
    right: 8px;
    top: 0;
    bottom: 0;
    background: #ededed;
    border-radius: 6px 6px 0 0;

    @include darkTheme {
      background: #242424;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 40px;
  background: #d9d9d9;
  padding-left: 2rem;

  .nestedView & {
    padding-left: 0;
  }

  .objectSelect {
    font-family: Roboto Mono;
    font-size: 13px;

    .modName {
      opacity: 0.65;
    }
  }

  @include darkTheme {
    background: #1f1f1f;
  }
}

.rowCount {
  margin: 0 auto;
  font-size: 13px;
}

.backButton,
.upButton {
  height: 100%;
  width: 40px;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  svg {
    fill: #fff;
  }

  &:hover {
    background: #57c3a4;
  }

  @include darkTheme {
    background: #333333;

    svg {
      fill: #adadad;
    }

    &:hover {
      background: #29b189;

      svg {
        fill: #141414;
      }
    }
  }
}

.upButton svg {
  transform: rotate(90deg);
}

.nestedPathSteps {
  display: contents;
}

.nestedPathStep {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #4c4c4c;
  margin-right: 2rem;

  .pathStepIdent {
    font-size: 11px;
    line-height: 13px;
    opacity: 0.6;
    overflow: hidden;
    mask-image: linear-gradient(
      90deg,
      #000,
      #000 calc(100% - 15px),
      transparent
    );

    span {
      display: block;
      width: 0;
      white-space: nowrap;
    }
  }

  &:first-child {
    margin-left: 16px;
  }

  &:not(:first-child) {
    .pathStepName {
      margin-left: -1ch;
    }
  }

  &:last-child {
    .pathStepIdent {
      mask-image: none;

      span {
        width: auto;
      }
    }
  }

  @include darkTheme {
    color: #adadad;
  }
}

.headerButtons {
  // margin-left: auto;
  align-self: stretch;
  display: flex;
  align-items: center;
}

.headerButton {
  margin: 4px;
  display: flex;
  align-items: center;
  align-self: center;
  cursor: pointer;
  background: #eaeaea;
  height: 28px;
  border-radius: 14px;
  padding: 0 12px;
}

.headerSelect {
  background: #eaeaea;
  height: 28px;
  border-radius: 14px;
  padding: 0 8px;
}

.filterButton {
  align-self: stretch;
  display: flex;
  align-items: center;
  padding: 0 12px;
  margin-left: 8px;
  cursor: pointer;

  .filterIcon {
    fill: currentColor;
    margin-right: 8px;
  }

  .openIcon {
    margin-left: 8px;
    width: 10px;
  }

  &.open {
    background: #cccccc;

    @include darkTheme {
      background: #4c4c4c;
    }

    .openIcon {
      transform: rotate(180deg);
    }
  }

  &.filterActive {
    .filterIcon {
      fill: #0ab280;
    }
  }
}

.filterPanel {
  --code-editor-bg: #f2f2f2;
  position: relative;
  display: flex;
  background: var(--code-editor-bg);
  height: 190px;

  @include darkTheme {
    --code-editor-bg: #2e2e2e;
  }
}

.filterActions {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 6px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  --buttonTextColour: #fff;

  .clearFilterButton {
    --buttonBg: #e5aaa5;
  }
  .disableFilterButton {
    --buttonBg: #e5c18c;
  }
  .applyFilterButton {
    --buttonBg: #49d8ad;
  }

  .filterError {
    color: #f13f4a;
    font-family: Roboto Mono;
    font-size: 14px;
  }
}
