@import "@edgedb/common/mixins.scss";

.sessionState {
  display: flex;
  align-items: center;
}

.stateButton {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 600;
  color: var(--fontHeaderGrey);
  white-space: nowrap;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;

  .icon {
    fill: var(--fontHeaderGrey);
    margin-right: 8px;
  }

  .chevron {
    margin-left: 8px;
    fill: var(--font-inactive-gray);
    path {
      stroke-width: 1px;
    }
  }

  .tabArrow {
    position: absolute;
    fill: var(--app_panel_background);
    left: calc(50% - 15px);
    top: calc(100% + 3px);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0s 0.1s;

    @include darkTheme {
      fill: #2e2e2e;
    }
  }

  &.disabled {
    opacity: 0.7;
    pointer-events: none;
  }

  &:hover,
  &.open {
    background-color: var(--grey97);
    color: var(--font-active-gray);
    .icon {
      fill: var(--font-active-gray);
      margin-right: 8px;
    }

    @include darkTheme {
      background-color: var(--grey18);
    }

    .chevron {
      color: var(--font-active-gray);
    }
  }

  &.open {
    .chevron {
      transform: rotate(180deg);
    }

    .tabArrow {
      opacity: 1;
      transition-delay: 0s;
    }
  }

  &.panelOpen .tabArrow {
    fill: var(--app_panel_background);
    z-index: 200;
  }

  .iconMobile {
    margin-left: 8px;

    path {
      stroke: var(--fontHeaderGrey);
    }
  }
}

.sessionBarWrapper {
  height: 0;
  transition: height 0.2s;
}

.panelInner {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--app_panel_background);
    border-radius: 12px;
    transition: height 0.2s;

    .barOpen & {
      height: 100%;
    }

    @include darkTheme {
      background-color: var(--grey18);
    }
  }
}

.panelBg {
  position: absolute;
  height: calc(100% - 8px);
  left: 8px;
  right: 8px;
  top: 0;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.04), 0 0 4px rgba(0, 0, 0, 0.06);
  pointer-events: none;
  opacity: 0;
  z-index: 0;
  transition: height 0.2s, left 0.2s, z-index 0s 0.2s, opacity 0s 0.2s;

  @include breakpoint(mobile) {
    height: 100%;
    inset: 0;
    border-radius: 0;
    box-shadow: none;
  }

  .panelOpen & {
    opacity: 1;
    background-color: var(--app_panel_background);
    pointer-events: auto;
    z-index: 101;
    transition-delay: 0s;
  }
}

.sessionBar {
  position: relative;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;

  @include breakpoint(mobile) {
    display: none;
  }

  .barOpen & {
    opacity: 1;
    transition-delay: 0.1s;
    pointer-events: auto;
  }

  .panelOpen & {
    z-index: 102;
    opacity: 0;
    pointer-events: none;
  }

  .chips {
    padding: 8px 0 0 8px;
    display: flex;
    flex-wrap: wrap;
    min-height: 34px;
    max-height: 82px;
    flex-grow: 1;
    overflow: hidden;
  }

  .openPanel {
    display: flex;
    padding: 8px;
    align-self: flex-start;
    cursor: pointer;
  }

  .emptySessionBar {
    opacity: 0.5;
    line-height: 26px;
    font-style: italic;
    margin-left: 8px;
  }

  .notActive & {
    .chips {
      opacity: 0.5;
    }

    .openPanel {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.panelButton {
  color: #a565cd;
  background-color: #fff;
  border: 1px solid var(--Grey90);
  height: 26px;
  padding: 0 7px;
  display: flex;
  align-items: center;
  border-radius: 16px;
  cursor: pointer;

  span {
    font-weight: 500;
    font-size: 14px;
    margin-right: 6px;
  }

  svg {
    width: 12px;
    margin-top: 2px;
  }

  @include darkTheme {
    background-color: var(--Grey14);
    border-color: var(--Grey25);
    color: #d19cf1;
  }
}

.chip {
  display: flex;
  background-color: var(--header_background);
  border: 1px solid var(--Grey90);
  padding-right: 10px;
  border-radius: 8px;
  line-height: 28px;
  font-family: "Roboto Mono Variable", monospace;
  font-size: 13px;
  font-weight: 450;
  margin-right: 8px;
  margin-bottom: 8px;
  color: #808080;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;

  .chipKind {
    width: 25px;
    background: var(--Grey97);
    border-right: 1px solid var(--Grey93);
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 12px;
    color: var(--Grey50);
    text-transform: uppercase;
    padding-left: 2px;
    margin-right: 8px;

    @include darkTheme {
      background-color: var(--Grey20);
      border-right-color: var(--Grey25);
      color: var(--Grey60);
    }
  }

  .chipVal {
    max-width: 38ch;
    margin-left: 1ch;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @include darkTheme {
    background-color: var(--Grey22);
    border-color: var(--Grey25);
    color: #bfbfbf;
  }
}

.editorPanel {
  position: absolute;
  inset: 8px;
  top: 0;
  display: flex;
  opacity: 0;
  z-index: 0;
  pointer-events: none;
  transition: opacity 0.2s 0s, z-index 0s 0.2s;

  @include breakpoint(mobile) {
    position: fixed;
    inset: 0;
  }

  &.panelVisible {
    opacity: 1;
    z-index: 101;
    transition-delay: 0.1s, 0s;
  }
}

.editorPanelContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  pointer-events: auto;
  font-family: "Roboto Flex Variable", sans-serif;

  .closePanel {
    @extend .panelButton;
    position: absolute;
    top: 2px;
    right: 2px;
    margin: 8px;
    background-color: #a565cd;
    color: #fff;
    border: 0;

    svg {
      margin-top: 0;
    }

    @include darkTheme {
      color: #fff;
      background-color: #a565cd;
    }

    @include breakpoint(mobile) {
      display: none;
    }
  }

  .searchBar {
    height: 68px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint(mobile) {
      flex-direction: column;
      height: auto;
      background-color: var(--header_background);
      border-bottom: 1px solid var(--panel_border);
    }

    .title {
      display: none;

      @include breakpoint(mobile) {
        display: block;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
      }
    }

    .search {
      position: relative;
      margin: 8px;
      margin-bottom: 4px;
      display: flex;
      align-items: center;
      width: 400px;

      svg {
        position: absolute;
        stroke: #acacac;
        left: 14px;
        pointer-events: none;
      }

      input {
        background-color: var(--panel_background);
        border: 1px solid var(--panel_border);
        border-radius: 20px;
        outline: 0;
        color: inherit;
        font-family: "Roboto Flex Variable", sans-serif;
        font-size: 14px;
        font-weight: 450;
        line-height: 38px;
        padding: 0 10px;
        padding-left: 40px;
        flex-grow: 1;
      }

      @include breakpoint(mobile) {
        width: calc(100vw - 32px);
        margin: 0 0 16px 0;
      }
    }
  }

  .grid {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 8px;
    padding-bottom: 4px;
    min-height: 0;
    max-width: 1400px;
    margin: 0 auto;

    @include breakpoint(mobile) {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      min-height: unset;
      overflow: auto;
    }
  }

  .group {
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;

    &:first-child {
      margin-left: 8px;
    }

    @include breakpoint(mobile) {
      border-bottom: 1px solid var(--panel_border);
      padding-top: 12px;
      min-height: unset;

      &:first-child {
        margin-left: unset;
      }

      &:last-child {
        padding-bottom: 74px;
        flex-grow: 1;
        border-bottom: 0;
      }
    }

    .header {
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      font-size: 13px;
      padding: 8px 16px 4px 8px;

      @include breakpoint(mobile) {
        padding-left: 16px;
      }
    }
  }

  .listWrapper {
    min-height: 0;
    display: flex;
    flex-grow: 1;

    @include breakpoint(mobile) {
      min-height: unset;
    }
  }

  .list {
    flex-grow: 1;
    overflow: auto;
    padding: 0 16px 0 8px;
    mask-image: linear-gradient(
      transparent 0px,
      #000 12px,
      #000 calc(100% - 12px),
      transparent 100%
    );

    @include hideScrollbar;

    @include breakpoint(mobile) {
      padding-left: 16px;
    }
  }

  .listInner {
    padding: 12px 0 4px 0;
    display: flex;
    flex-direction: column;
    min-width: min-content;
  }

  .item {
    background-color: var(--panel_background);
    border: 1px solid var(--panel_border);
    margin-bottom: 8px;
    padding: 12px;
    border-radius: 10px;
    font-family: "Roboto Mono Variable", monospace;
    display: grid;
    grid-template-areas: "toggle header" "toggle value";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    outline: 2px solid transparent;
    outline-offset: -2px;
    transition: outline-color 1s linear;

    &.inactive {
      .itemValue {
        opacity: 0.6;
        pointer-events: none;
        font-weight: 450;
        border: 1px solid var(--panel_border);
        margin: -1px;
        padding: 0 10px;
        border-radius: 6px;

        b {
          font-weight: 500;
        }
      }
    }

    &.highlighted {
      outline-color: #be8ddc;
      transition-duration: 0s;
    }

    @include darkTheme {
      background-color: var(--grey18);
    }

    @include breakpoint(mobile) {
      padding: 16px;
    }
  }

  .activeToggle {
    grid-area: toggle;
    margin: -8px;
    margin-right: 0;
    align-self: start;
    --switchSize: 20px;
  }

  .itemHeader {
    grid-area: header;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
  }

  .headerInner {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(mobile) {
      flex-direction: column;
    }
  }

  .itemDesc {
    font-family: "Roboto Flex Variable", sans-serif;
    margin-top: 8px;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.6;
  }

  .itemName {
    font-weight: 450;
    margin-right: 8px;

    span {
      opacity: 0.8;
    }

    .nameMatch {
      opacity: 1;
      background-color: #d8acf3;
      border-radius: 2px;

      @include darkTheme {
        background-color: #772fa3;
      }
    }
  }

  .itemType {
    font-size: 14px;
    font-weight: 450;
    opacity: 0.5;

    @include breakpoint(mobile) {
      margin-left: 0;
    }
  }

  .itemUpdate {
    margin-left: auto;
    color: #0ccb93;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    font-family: "Roboto Flex Variable", sans-serif;

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .itemValue {
    --select-option-color: #4c4c4c;
    --svg-color: #7d7d7d;
    grid-area: value;
    display: flex;
    align-items: center;
    min-height: 32px;
    min-width: 0;

    @include darkTheme {
      --select-option-color: #adadad;
    }

    &.noOverflow {
      overflow-x: auto;
      @include hideScrollbar;
    }
  }

  .setNullButton {
    cursor: pointer;
    background-color: #fafafa;
    padding: 0 6px;
    margin-left: 8px;
    line-height: 32px;
    border-radius: 4px;
    align-self: flex-start;

    &.disabled {
      opacity: 0.5;
    }

    @include darkTheme {
      background-color: #141414;
    }
  }

  .emptyItem {
    display: flex;
    justify-content: center;
    padding: 12px;
    font-style: italic;
    opacity: 0.7;
    margin: 24px 16px 48px 8px;

    @include breakpoint(mobile) {
      margin-left: 16px;
      color: var(--grey40);

      @include darkTheme {
        color: var(--grey60);
      }
    }
  }

  .closeBtn {
    position: fixed;
    bottom: 16px;
    right: 16px;
  }
}
