@import "@edgedb/common/mixins.scss";

.sessionState {
  display: flex;
  align-items: center;
}

.stateButton {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 600;
  color: var(--font-inactive-gray);
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;

  .icon {
    fill: var(--font-inactive-gray);
    margin-right: 8px;
  }

  .chevron {
    margin-left: 8px;
    color: var(--font-inactive-gray);
    path {
      stroke-width: 1px;
    }
  }

  .tabArrow {
    position: absolute;
    fill: #e9e9e9;
    left: calc(50% - 15px);
    top: calc(100% + 3px);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0s 0.1s, fill 0.2s;

    @include darkTheme {
      fill: #2e2e2e;
    }
  }

  &:hover,
  &.open {
    background: var(--app-bg-gray);
    color: var(--font-active-gray);
    .icon {
      fill: var(--font-active-gray);
      margin-right: 8px;
    }

    .chevron {
      color: var(--font-active-gray);
    }
  }

  &.open {
    .chevron {
      transform: rotate(180deg);
    }

    .tabArrow {
      opacity: 1;
      transition-delay: 0s;
    }
  }

  &.panelOpen .tabArrow {
    fill: #f5f5f5;

    @include darkTheme {
      fill: #242424;
    }
  }
}

//

.sessionBarWrapper {
  height: 0;
  transition: height 0.2s;
}

.panelBg {
  position: absolute;
  background: #e9e9e9;
  height: 0;
  left: 16px;
  right: 16px;
  top: 0;
  border-radius: 8px;
  pointer-events: none;
  z-index: 0;
  transition: height 0.2s, left 0.2s, z-index 0s 0.2s, background 0.2s;

  .barOpen & {
    height: calc(100% - 16px);
  }

  .panelOpen & {
    background: var(--app-panel-bg) !important;
    pointer-events: auto;
    z-index: 101;
    transition-delay: 0s;
  }

  @include darkTheme {
    background: #2e2e2e;
  }
}

.sessionBar {
  position: relative;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;

  .barOpen & {
    opacity: 1;
    transition-delay: 0.1s;
    pointer-events: auto;
  }

  .panelOpen & {
    z-index: 102;
    opacity: 0;
    pointer-events: none;
  }

  .chips {
    margin: 8px 0 0 8px;
    display: flex;
    flex-wrap: wrap;
    min-height: 34px;
    max-height: 68px;
    flex-grow: 1;
    overflow: hidden;
  }

  .openPanel {
    display: flex;
    padding: 8px;
    align-self: flex-start;
    cursor: pointer;

    .openPanelButton {
      background: #26c395;
      color: #fff;
      height: 26px;
      padding: 0 7px;
      display: flex;
      align-items: center;
      border-radius: 13px;

      span {
        font-weight: 500;
        font-size: 14px;
        margin-right: 6px;
      }

      svg {
        width: 12px;
        margin-top: 2px;
      }

      @include darkTheme {
        background: #0d805e;
        color: #141414;
      }
    }
  }

  .emptySessionBar {
    opacity: 0.5;
    line-height: 26px;
    font-style: italic;
    margin-left: 8px;
  }

  .notActive & {
    .chips {
      opacity: 0.5;
    }

    .openPanel {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.chip {
  display: flex;
  background: #f7f7f7;
  padding-right: 10px;
  border-radius: 6px;
  line-height: 26px;
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
  font-weight: 500;
  margin-right: 8px;
  margin-bottom: 8px;
  color: #808080;
  white-space: nowrap;
  overflow: hidden;

  .chipKind {
    width: 22px;
    background: #d3d3d3;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 11px;
    color: #848484;
    text-transform: uppercase;
    padding-left: 2px;
    margin-right: 8px;

    @include darkTheme {
      background: #1b1b1b;
      color: #5d5d5d;
    }
  }

  .chipVal {
    max-width: 38ch;
    margin-left: 1ch;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @include darkTheme {
    background: #242424;
    color: #bfbfbf;
  }
}

.editorPanel {
  position: absolute;
  top: 0;
  left: 16px;
  right: 16px;
  bottom: 16px;
  display: flex;
  opacity: 0;
  z-index: 0;
  pointer-events: none;
  transition: opacity 0.2s 0s, z-index 0s 0.2s;

  &.panelVisible {
    opacity: 1;
    z-index: 101;
    transition-delay: 0.1s, 0s;
  }
}

.editorPanelContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  pointer-events: auto;

  .closePanel {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    margin: 8px;
    cursor: pointer;
    opacity: 0.5;

    &:hover {
      opacity: 0.7;
    }
  }

  .searchBar {
    height: 68px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .search {
      position: relative;
      margin: 8px;
      margin-bottom: 4px;
      display: flex;
      align-items: center;

      svg {
        position: absolute;
        stroke: #acacac;
        left: 8px;
        pointer-events: none;
      }

      input {
        background: var(--app-card-bg);
        border: 0;
        border-radius: 16px;
        outline: 0;
        color: inherit;
        font-family: "Inter", sans-serif;
        line-height: 32px;
        padding: 0 10px;
        padding-left: 32px;
        flex-grow: 1;
      }
    }
  }

  .grid {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 8px;
    padding-bottom: 4px;
    min-height: 0;
  }

  .group {
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;

    &:first-child {
      margin-left: 8px;
    }

    .header {
      color: #808080;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      font-size: 13px;
      padding: 8px 16px 4px 8px;
    }
  }

  .listWrapper {
    min-height: 0;
    display: flex;
    flex-grow: 1;
  }

  .list {
    flex-grow: 1;
    overflow: auto;
    padding: 0 16px 0 8px;
    mask-image: linear-gradient(
      transparent 0px,
      #000 12px,
      #000 calc(100% - 12px),
      transparent 100%
    );

    @include hideScrollbar;
  }

  .listInner {
    padding: 12px 0 4px 0;
    display: flex;
    flex-direction: column;
    min-width: min-content;
  }

  .item {
    background: var(--app-card-bg);
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 6px;
    font-family: "Roboto Mono", monospace;
    display: grid;
    grid-template-areas: "toggle header" "toggle value";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    outline: 2px solid transparent;
    outline-offset: -2px;
    transition: outline-color 1s linear;
    --inputBg: #fafafa;

    &.inactive {
      .itemHeader,
      .itemValue {
        opacity: 0.6;
        pointer-events: none;
      }
    }

    &.highlighted {
      outline-color: #39d1a5;
      transition-duration: 0s;
    }

    @include darkTheme {
      --inputBg: #1f1f1f;
    }
  }

  .activeToggle {
    grid-area: toggle;
    margin-right: 8px;
  }

  .itemHeader {
    grid-area: header;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
  }

  .headerInner {
    display: flex;
    flex-wrap: wrap;
  }

  .itemDesc {
    font-style: italic;
    margin-top: 6px;
    font-size: 13px;
    opacity: 0.7;
  }

  .itemName {
    font-weight: 500;

    span {
      opacity: 0.7;
    }

    .nameMatch {
      opacity: 1;
      background: #49d8ad;
      border-radius: 2px;

      @include darkTheme {
        background: #0b8a64;
      }
    }
  }

  .itemType {
    font-size: 13px;
    opacity: 0.6;
    margin-left: 8px;
  }

  .itemUpdate {
    margin-left: auto;
    color: #0ccb93;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    font-family: "Inter", sans-serif;

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .itemValue {
    grid-area: value;
    display: flex;
    align-items: center;
    min-height: 32px;
    min-width: 0;
  }

  .setNullButton {
    cursor: pointer;
    background: #fafafa;
    padding: 0 6px;
    margin-left: 8px;
    line-height: 32px;
    border-radius: 4px;
    align-self: flex-start;

    &.disabled {
      opacity: 0.5;
    }

    @include darkTheme {
      background: #141414;
    }
  }

  .emptyItem {
    display: flex;
    justify-content: center;
    padding: 12px;
    font-style: italic;
    opacity: 0.8;
    border: 2px dashed #e1e1e1;
    border-radius: 4px;
    margin: 12px 16px 0 8px;

    @include darkTheme {
      border-color: #4d4d4d;
    }
  }
}
