.statusRing {
  position: relative;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;

  &.active {
    stroke: var(--transaction-active);
    stroke-width: 2px;
  }

  &.error {
    stroke: var(--transaction-error);
    stroke-width: 2px;
  }
}

.spinner {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}
