.instancePage {
  background: var(--app-panel-bg);
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 16px 16px;
  border-radius: 8px;
}

.instanceName {
  font-size: 28px;
  margin-top: 54px;
  font-family: Roboto Mono;
  font-weight: bold;
}

.databases {
  display: flex;
  margin-top: 54px;
  flex-flow: row wrap;
  justify-content: center;
}

.databaseCard,
.newBranchCard,
.exampleDatabaseCard {
  border: 2px solid transparent;
  opacity: 0.8;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
  cursor: pointer;
  width: 170px;
  height: 136px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4px;
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;

  &:hover {
    opacity: 1;
  }
}

.databaseCard {
  background: var(--app-card-bg);
  border: 2px solid var(--app-card-bg);
  word-break: break-all;

  span {
    font-weight: bold;
  }

  svg {
    fill: #999;
    transform: scale(1.1);
    display: inline-block;
  }
}

.newBranchCard {
  background: none;
  border: 2px dashed var(--app-card-outline);

  span {
    font-style: italic;
    font-weight: normal;
    max-width: 100px;
    text-align: center;
    display: block;
  }
}

.exampleDatabaseCard {
  border: 2px dashed var(--app-card-outline);
  padding: 12px;

  .cardHeading {
    font-weight: 600;
    margin: auto 0;
  }

  .cardButton {
    background: var(--app-accent-green);
    color: #fff;
    padding: 8px 6px;
    border-radius: 6px;
    display: flex;
    align-items: center;

    div {
      display: contents;
      font-weight: inherit;
      font-size: inherit;
      text-transform: inherit;
      white-space: inherit;
      color: inherit;
    }

    svg {
      flex-shrink: 0;
      margin-right: 0;
    }
  }
}
