@import "@edgedb/common/mixins.scss";

.instancePage {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  padding-top: 16px;
  margin: 0 8px 8px;
  border-radius: 12px;
  background: #fafafa;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.04),
    0px 0px 4px 0px rgba(0, 0, 0, 0.06);

  @include darkTheme {
    background: var(--Grey14, #242424);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2),
      0px 0px 4px 0px rgba(0, 0, 0, 0.3);
  }

  @include isMobile {
    margin: 0;
    border-radius: 0;
    padding: 16px;
    padding-top: 8px;
  }
}

.pageWrapper {
  width: 100%;
  max-width: 1054px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.header {
  color: var(--secondary_text_color, #666);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin: 0;
  margin-bottom: 8px;
  margin-top: 16px;
  padding: 0 4px;

  @include darkTheme {
    color: #b3b3b3;
  }
}

.branchGraph {
  flex-grow: 1;
}

.databaseCard,
.newBranchCard,
.exampleDatabaseCard {
  border: 2px solid transparent;
  opacity: 0.8;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
  cursor: pointer;
  width: 170px;
  height: 136px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4px;
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;

  &:hover {
    opacity: 1;
  }
}

.databaseCard {
  background: var(--app-card-bg);
  border: 2px solid var(--app-card-bg);
  word-break: break-all;

  span {
    font-weight: bold;
  }

  svg {
    fill: #999;
    transform: scale(1.1);
    display: inline-block;
  }
}

.newBranchCard {
  background: none;
  border: 2px dashed var(--app-card-outline);

  span {
    font-style: italic;
    font-weight: normal;
    max-width: 100px;
    text-align: center;
    display: block;
  }
}

.exampleDatabaseCard {
  border: 2px dashed var(--app-card-outline);
  padding: 12px;

  .cardHeading {
    font-weight: 600;
    margin: auto 0;
  }

  .cardButton {
    background: var(--app-accent-green);
    color: #fff;
    padding: 8px 6px;
    border-radius: 6px;
    display: flex;
    align-items: center;

    div {
      display: contents;
      font-weight: inherit;
      font-size: inherit;
      text-transform: inherit;
      white-space: inherit;
      color: inherit;
    }

    svg {
      flex-shrink: 0;
      margin-right: 0;
    }
  }
}
