.instancePage {
  background: var(--app-panel-bg);
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 16px 16px;
  border-radius: 8px;
}

.instanceName {
  font-size: 28px;
  margin-top: 54px;
  font-family: Roboto Mono;
  font-weight: bold;
}

.databases {
  display: flex;
  margin-top: 54px;
  flex-flow: row wrap;
  justify-content: center;
}

.databaseCard, .newDatabaseCard {
  background: var(--app-card-bg);
  border: 2px solid var(--app-card-bg);
  opacity: 0.8;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
  cursor: pointer;
  width: 170px;
  height: 136px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;

  span {
    font-weight: bold;
  }

  svg {
    fill: #999;
    transform: scale(1.1);
    display: inline-block;
  }

  &:hover {
    opacity: 1;
  }
}

.newDatabaseCard {
  background: none;
  border: 2px dashed var(--app-card-outline);

  span {
    font-style: italic;
    font-weight: normal;
    max-width: 100px;
    text-align: center;
    display: block;
  }
}
