.inspectorTheme {
  --type-color: #888;

  --inspector-green: #26a073;
  --inspector-red: #c12f54;
  --inspector-purple: #791590;
  --inspector-blue: #1c79de;
  --inspector-orange: #bf901d;

  :global(.dark-theme) & {
    --inspector-green: #2dd8a5;
    --inspector-red: #ee464d;
    --inspector-purple: #b466ce;
    --inspector-blue: #1c79de;
    --inspector-orange: #fb9256;
  }
}

.inspector {
  @extend .inspectorTheme;

  & * {
    box-sizing: border-box;
  }

  .innerWrapper {
    width: max-content;
    min-width: 100%;
  }
}

.rowWrapper {
  position: relative;
}

.rowItem {
  display: flex;
  line-height: var(--lineHeight);
  padding: var(--rowPad) 0;
  white-space: pre;

  .jsonMode & {
    padding-left: 0 !important;
  }

  &.hoverable:hover {
    background: var(--inspectorRowHoverBg, #ebebeb);

    .copyButton {
      opacity: 1;
    }

    :global(.dark-theme) & {
      background: var(--inspectorRowHoverBg, #303030);
    }
  }

  .itemWrapper {
    display: flex;
    margin-right: auto;
  }

  .itemContent,
  .itemBody {
    display: flex;
    padding: 0 2px;
    margin: 0 -2px;
    border-radius: 2px;
  }

  &.highlightBody {
    .itemBody {
      background: Highlight;

      &,
      & * {
        color: HighlightText !important;
      }
    }
  }

  &.highlightAll {
    .itemContent {
      background: Highlight;

      &,
      & * {
        color: HighlightText !important;
      }
    }
  }
}

.comma {
  align-self: flex-end;
}

.expandArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: var(--lineHeight);
  margin-left: -24px;
  cursor: pointer;
  transform: rotate(-90deg);
  transition: transform 0.1s;

  &.expanded {
    transform: rotate(0);
  }

  svg {
    width: 11px;
  }
}

.ellipsis {
  border: 1px solid #ccc;
  background: #eee;
  fill: #4d4d4d;
  user-select: none;
  height: 12px;
  margin: 0 3px;
  margin-top: calc((var(--lineHeight) - 12px) / 2);
  display: flex;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;

  :global(.dark-theme) & {
    border-color: #636363;
    background: #3d3d3d;
    fill: #e7e7e7;
  }
}

.copyButton {
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 24px;
  text-transform: uppercase;
  color: #a2a2a2;
  background: linear-gradient(
    90deg,
    transparent,
    var(--inspectorRowHoverBg, #ebebeb) 8px,
    var(--inspectorRowHoverBg, #ebebeb)
  );
  padding: 0 8px;
  padding-left: 16px;
  opacity: 0;
  cursor: pointer;
  position: sticky;
  right: 0;

  svg {
    fill: currentColor;
  }

  &:hover {
    color: #1f8aed;
  }

  :global(.dark-theme) & {
    background: linear-gradient(
      90deg,
      transparent,
      var(--inspectorRowHoverBg, #303030) 8px,
      var(--inspectorRowHoverBg, #303030)
    );
  }
}

.resultsHidden {
  font-family: Inter;
  font-style: italic;
  font-weight: normal;
  display: inline-block;
  border-bottom: 1px dotted currentColor;
  opacity: 0.6;

  &.loadable {
    opacity: 0.6;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}

// syntax highlighting

.typeName {
  color: var(--type-color);
  user-select: none;
  pointer-events: none;
}

.scalar_string {
  color: var(--inspector-green);
  padding-left: 1ch;

  &:before {
    content: "'";
    margin-left: -1ch;
  }
  &:after {
    content: "'";
  }

  .jsonMode & {
    color: inherit;
    &:before,
    &:after {
      content: "";
      margin-left: 0;
    }
  }
}

.scalar_number {
  color: var(--inspector-orange);

  .scalar_mod {
    color: var(--inspector-blue);
  }
}

.scalar_boolean {
  color: var(--inspector-orange);
}

.scalar_bytes {
  color: var(--inspector-green);
  word-wrap: break-word;

  .scalar_mod {
    color: var(--inspector-blue);
  }
}

.scalar_tag {
  .scalar_tag_open,
  .scalar_tag_close {
    color: var(--inspector-red);
  }
  .scalar_tag_name {
    color: var(--inspector-blue);
  }
}
