@import "@edgedb/common/mixins.scss";

.tooltipContent {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding: 4px 10px;
  background: #468bfe;
  color: #f5f5f5;
  border-radius: 4px;
  margin: 0;
  font-family: Roboto;

  @include darkTheme {
    background: #74a6fc;
    color: #141414;
  }
}

.tooltipArrow {
  fill: #468bfe;

  @include darkTheme {
    fill: #74a6fc;
  }
}

.explainVisTesting {
  position: absolute;
  inset: 0;
  background: var(--app-panel-bg);
  z-index: 100;
  overflow: auto;

  .main {
    display: flex;
    margin: 0 16px;
  }

  .planTree {
    margin: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .planNode {
    position: relative;
    border: 1px solid #aaa;
    border-radius: 6px;
    padding: 8px;
    padding-left: 8px + 12px;
    margin: 4px;
    width: max-content;
    min-width: 200px;

    &.noContexts .planContent {
      opacity: 0.5;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 8px;
    width: max-content;
  }

  .planSubTree {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .heatBar {
    position: absolute;
    width: 12px;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 6px 0 0 6px;
  }
}

.explainVis {
  display: flex;
  height: 100%;
  flex-direction: column;
  background: #fff;

  @include darkTheme {
    background: #141414;
  }

  div[data-radix-popper-content-wrapper] {
    z-index: 1001 !important;
  }
}

.graphScale {
  margin: 0px 8px 6px 8px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  font-weight: 500;
  color: #666666;
  align-items: center;

  &:before,
  &:after {
    content: "";
    flex-grow: 1;
    border-top: 2px solid #d9d9d9;
    height: 4px;
    margin-top: 4px;
  }
  &:before {
    margin-right: 6px;
    border-left: 2px solid #d9d9d9;
  }
  &:after {
    margin-left: 6px;
    border-right: 2px solid #d9d9d9;
  }

  @include darkTheme {
    color: #b3b3b3;
    &:before,
    &:after {
      border-color: #666666;
    }
  }
}

.flamegraph {
  position: relative;
  padding-top: 12px;
  flex-grow: 1;
  overflow: hidden;
  background: #f7f7f7;
  margin-bottom: 2px;
  --outline-color: #468bff;

  @include darkTheme {
    background: #242424;
    --outline-color: #74a6fc;
  }

  &Node {
    position: absolute;
    background: #d5d8ef;
    margin: 2px;

    @include darkTheme {
      background: #292235;
    }
  }

  .selected {
    outline: 2px solid var(--outline-color);
    z-index: 1;
    outline-offset: -2px;
  }

  .hovered {
    outline: 2px dotted var(--outline-color);
    outline-offset: -2px;

    > div:nth-child(2) {
      opacity: 1;
    }
  }

  &Bar {
    position: relative;
    height: 16px;
    padding: 6px 0 4px 0;
    white-space: nowrap;
    overflow: hidden;

    .flamegraphLabel {
      margin: 0 3px;
      color: #666666;
      font-size: 12px;
      line-height: 14px;

      .query {
        margin-left: "5px";
      }

      pre {
        font-size: 11px;
        line-height: 11px;
        font-family: inherit;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        color: var(--app-code);
      }
    }
  }

  &HiddenNodes {
    position: absolute;
    border-radius: 3px;
    background: #fff;
    opacity: 0.5;
    overflow: hidden;
    margin: 2px;

    span {
      display: block;
      white-space: nowrap;
      padding: 6px 4px;
      height: 20px;
    }
  }

  &SubNodes {
    position: relative;
  }

  .collapseButton {
    padding: 0 4px;

    svg {
      width: 11px;
    }

    &.collapsed svg {
      transform: rotate(-90deg);
    }
  }
}

.planDetailsContainer {
  font-family: Inter;
}

.planDetails {
  background: #ececec;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;

  .header {
    padding: 4px 16px 4px 8px;
    background: #e5e5e5;

    @include darkTheme {
      background: #383838;
    }

    .nodeType {
      color: #595959;
      margin-right: 4px;
      font-weight: 700;

      @include darkTheme {
        color: #999999;
      }
    }

    .stats {
      color: #999999;

      .statsResults {
        color: #595959;
        margin-left: 4px;
      }

      @include darkTheme {
        color: #808080;

        .statsResults {
          color: #c4c4c4;
        }
      }
    }
  }

  .results {
    background: #f2f2f2;
    display: flex;
    column-gap: 32px;
    padding: 10px 16px 10px 8px;

    @include darkTheme {
      background: #242424;
    }

    .result {
      display: flex;
      flex-direction: column;
      color: #595959;

      .label {
        color: #999999;
        margin-right: 4px;
      }
      @include darkTheme {
        color: #c4c4c4;

        .label {
          color: #808080;
        }
      }
    }
  }
}

.noSelectedPlanDetails {
  opacity: 0.7;
  font-style: italic;
}

.explainHeader {
  display: flex;
  align-items: center;
  padding: 8px;
  background: #f7f7f7;
  margin-bottom: 2px;

  .queryDuration {
    margin: 0 0 0 auto;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    color: #666;
  }

  .switchers {
    display: flex;
  }

  > :last-child {
    display: flex;
  }

  .rerunWithAnalyze {
    font-family: "Inter";
    text-align: start;
    margin-right: 32px;

    .message {
      font-size: 14px;
      font-style: italic;
      opacity: 0.7;
    }

    .button {
      color: #1f8aed;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  @include darkTheme {
    background: #242424;
    .queryDuration {
      color: #c4c4c4;
    }
  }
}

.treemapContainer {
  --outline-color: #468bff;
  height: 100%;
  position: relative;
  margin: -2px;

  @include darkTheme {
    --outline-color: #74a6fc;
    background: #1c1c1c;
  }

  .treemapItem {
    position: absolute;
    background: #d5d8ef;
    z-index: 1;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.03);

    @include darkTheme {
      background: #292235;
      border: 1px solid rgba(255, 255, 255, 0.04);
    }

    &.transitionActive {
      transition: top 0.2s, left 0.2s, width 0.2s, height 0.2s;
    }

    &.outmostItem {
      width: 100%;
      height: 100%;
    }

    .treemapItemInner {
      position: relative;
      margin-left: 2px;
      margin-top: 2px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
    }

    &.selected {
      outline: 2px solid var(--outline-color);
      z-index: 1;
      outline-offset: -2px;
    }

    &.hovered {
      outline: 2px dotted var(--outline-color);
      outline-offset: -2px;
    }

    .planName,
    .hiddenPlans {
      position: absolute;
      z-index: 0;
      text-align: right;
      overflow: hidden;
      display: flex;
      justify-content: flex-end;

      .layoutLabel {
        color: #666666;
        font-size: 12px;
        line-height: 14px;
      }

      > span {
        display: block;
        margin: 0 4px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      pre {
        font-size: 11px;
        line-height: 11px;
        font-family: inherit;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        color: var(--app-code);
        font-weight: 500;
      }

      &.vertLabel {
        > span {
          writing-mode: vertical-rl;
          text-align: left;
          margin: 0 3px;
        }
      }
    }

    .hiddenPlans {
      background: #fff;
      opacity: 0.5;
      margin: 2px;
      border-radius: 3px;
    }
  }
}

.treemapBreadcrumbs {
  display: flex;
  color: #666666;
  font-weight: 500;
  font-size: 11px;
  line-height: 15px;
  flex-shrink: 0;
  overflow-x: auto;
  transition: height 0.2s;
  height: 32px;

  &.hidden {
    height: 0;
  }

  @include hideScrollbar;

  .breadcrumbsWrapper {
    display: flex;
    align-items: center;
    background: #f7f7f7;
    margin-bottom: 2px;
    padding: 0 4px;
    width: 100%;
    min-width: max-content;

    @include darkTheme {
      background: #242424;
      color: #b3b3b3;
    }
  }

  .breadcrumb {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 3px 4px;
    cursor: pointer;
    border-radius: 3px;
    flex-shrink: 0;
    margin: 0 2px;

    &:hover {
      background: rgba(0, 0, 0, 0.05);

      @include darkTheme {
        background: #383838;
      }
    }

    pre {
      font-size: 11px;
      line-height: 16px;
      font-family: inherit;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
    }
  }

  .breadcrumbArrow {
    color: #b3b3b3;

    @include darkTheme {
      color: #666666;
    }
  }
}

.explainContextsContainer {
  --outline-color: #468bff;

  @include darkTheme {
    --outline-color: #74a6fc;
  }

  z-index: -1;
}

.explainContextRect {
  position: absolute;
  border-radius: 3px;

  &.highlighted {
    outline: 2px solid var(--outline-color);
  }

  &.highlightedOnHover {
    outline: 2px dotted var(--outline-color);
  }
}
