@import "@edgedb/common/mixins.scss";

.explainVisTesting {
  position: absolute;
  inset: 0;
  background: var(--app-panel-bg);
  z-index: 100;
  overflow: auto;

  .main {
    display: flex;
    margin: 0 16px;
  }

  .planTree {
    margin: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .plainNodeWrapper {
  }

  .planNode {
    position: relative;
    border: 1px solid #aaa;
    border-radius: 6px;
    padding: 8px;
    padding-left: 8px + 12px;
    margin: 4px;
    width: max-content;
    min-width: 200px;

    &.noContexts .planContent {
      opacity: 0.5;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 8px;
    width: max-content;
  }

  .planSubTree {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .heatBar {
    position: absolute;
    width: 12px;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 6px 0 0 6px;
  }
}

.explainVis {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.graphScale {
  margin: 0 8px;
  margin-top: 6px;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  display: flex;
  align-items: center;

  &:before,
  &:after {
    content: "";
    flex-grow: 1;
    border-top: 1px solid #ccc;
    height: 4px;
    margin-top: 4px;
  }
  &:before {
    margin-right: 6px;
    border-left: 1px solid #ccc;
  }
  &:after {
    margin-left: 6px;
    border-right: 1px solid #ccc;
  }
}

.flamegraph {
  position: relative;
  flex-grow: 1;
  overflow: hidden;

  &Node {
    position: absolute;
    border-radius: 3px;
    background: #fff;
    margin: 2px;

    &.selected:before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 3px;
      background: rgba(255, 255, 255, 0.3);
    }
  }

  &Bar {
    position: relative;
    height: 20px;
    padding: 6px 0;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;

    .flamegraphLabel {
      position: absolute;
      margin: 0 6px;

      pre {
        font-family: inherit;
        display: inline;
        white-space: nowrap;
        margin: 0;
      }

      // > span {
      //   margin: 4px;
      // }
    }
  }

  &HiddenNodes {
    position: absolute;
    border-radius: 3px;
    background: #fff;
    opacity: 0.5;
    overflow: hidden;
    margin: 2px;

    span {
      display: block;
      white-space: nowrap;
      padding: 6px 4px;
      height: 20px;
    }
  }

  &SubNodes {
    position: relative;
  }

  .collapseButton {
    padding: 0 4px;

    svg {
      width: 11px;
    }

    &.collapsed svg {
      transform: rotate(-90deg);
    }
  }
}

.planDetailsContainer {
  font-family: Inter;
}

.planDetails {
  background: #ececec;
  border-radius: 6px;
  margin: 12px;
  padding: 12px;
  font-family: "Inter";

  .header {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 6px;

    .nodeType {
      color: #313131;
      margin-right: 14px;
    }

    .stats {
      font-size: 14px;
      opacity: 0.7;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 8px;
    width: max-content;
    color: #414141;
    line-height: 22px;

    .label {
      text-align: end;
      opacity: 0.8;
    }
  }
}

.noSelectedPlanDetails {
  opacity: 0.7;
  font-style: italic;
}

.explainHeader {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  margin: 4px 16px;
  margin-top: 12px;

  > :last-child {
    display: flex;
    justify-content: flex-end;
  }

  .typeSwitcher {
    display: flex;
    align-items: center;
    padding: 0 3px;
    height: 28px;
    background: #dfdfdf;
    border-radius: 14px;
    margin: 0 8px;
  }

  .switcherButton {
    height: 22px;
    display: flex;

    align-items: center;
    border-radius: 11px;
    padding: 0 12px;
    font-family: "Inter";
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #656565;
    cursor: pointer;

    &.selected {
      background: #fafafa;
    }

    &.disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  .copyRawDataButton {
    display: flex;
    height: 28px;
    align-items: center;
    background: #e8e8e8;
    border-radius: 14px;
    padding: 0 12px;
    font-family: "Inter";
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #5b5b5b;
    cursor: pointer;
  }

  .rerunWithAnalyze {
    font-family: "Inter";
    text-align: end;

    .message {
      font-size: 14px;
      font-style: italic;
      opacity: 0.7;
    }

    .button {
      color: #1f8aed;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.treemapContainer {
  height: 100%;
  margin: 6px;
  margin-bottom: 0;
  position: relative;

  .treemapItem {
    position: absolute;
    background: #fff;
    border-radius: 3px;
    z-index: 1;
    margin: 2px;
    box-sizing: border-box;

    &.transitionActive {
      transition: top 0.2s, left 0.2s, width 0.2s, height 0.2s;
    }

    .treemapItemInner {
      position: relative;
      margin: 2px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
    }

    &.selected:before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 3px;
      background: rgba(255, 255, 255, 0.3);
    }

    .planName,
    .hiddenPlans {
      position: absolute;
      z-index: 0;
      text-align: right;
      overflow: hidden;
      display: flex;
      justify-content: flex-end;

      > span {
        display: block;
        margin: 4px 6px 0 6px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      pre {
        font-family: inherit;
        display: inline;
        white-space: nowrap;
        margin: 0;
      }

      &.vertLabel {
        > span {
          writing-mode: vertical-rl;
          text-align: left;
          margin: 6px 4px 6px 0;
        }
      }
    }

    .hiddenPlans {
      background: #fff;
      opacity: 0.5;
      margin: 2px;
      border-radius: 3px;
    }
  }
}

.treemapBreadcrumbs {
  display: flex;
  margin: 0 8px;
  height: 28px;
  flex-shrink: 0;
  overflow-x: auto;
  transition: height 0.2s;

  &.hidden {
    height: 0px;
  }

  @include hideScrollbar;

  .breadcrumbsWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .breadcrumb {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 6px;
    flex-shrink: 0;

    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }

    pre {
      font-family: inherit;
      display: inline;
      white-space: nowrap;
      margin: 0;
    }
  }
}

.explainContextsContainer {
  z-index: -1;

  .explainContextRect {
    position: absolute;
    border-radius: 3px;

    &.highlighted {
      outline: 2px solid #0074e8;
    }
  }
}
