@import "./hooks/useTheme/mixin.scss";

@mixin hideScrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin customScrollbar {
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-corner {
    width: 12px;
    height: 12px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: padding-box;
  }
}

$breakpoints: (
  xs: 320px,
  sm: 768px,
  md: 1024px,
  lg: 1440px,
  xl: 1920px,
  xxl: 2560px,
);

@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    // Subtracts 0.5px to make breakpoint exclusive (width < x) instead of
    // inclusive (width <= x)
    // (Uses -0.5px instead of -1px due to incorrect behaviour on some
    // systems ie. win10 with fractional display scaling ¯\_(ツ)_/¯)
    @media (max-width: #{$breakpoint-value - 0.5px}) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin breakpointMobileFirst($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (min-width: #{$breakpoint-value}) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin isMobile {
  @media (max-width: 767.5px) {
    @content;
  }
}
