@import "@edgedb/common/mixins.scss";

:root {
  --baseTextLightTheme: #1a1a1a;

  --grey8: #141414;
  --grey30: #4d4d4d;
  --grey50: #808080;
  --grey60: #999;
  --grey75: #bfbfbf;
  --grey95: #f2f2f2;
}

.theme {
  --font-header-grey: var(--grey50);
  --modal-overlay-bg: rgba(0, 0, 0, 0.2);

  @include darkTheme {
    --font-header-grey: var(--grey60);
    --modal-overlay-bg: rgba(0, 0, 0, 0.5);
  }
}
