@import "../../mixins.scss";

.switch {
  width: 28px;
  height: 16px;
  border-radius: 8px;
  margin-left: 34px;
  margin-right: 82px;
  background: #d3d3d3;
  position: relative;
  cursor: pointer;
  left: 0;

  .radio {
    position: absolute;

    input[type="radio"] {
      display: none;
    }

    .label {
      display: inline-block;
      position: relative;
      font-size: 12px;
      font-family: "Roboto";
      line-height: 14px;
      font-weight: 500;
      color: #666666;
      padding: 4px 0;
      cursor: pointer;
      bottom: 3px;
    }

    &:hover {
      cursor: pointer;
    }

    .notChecked {
      z-index: 1;
    }

    input[type="radio"]:checked + label:before {
      border-radius: 11px;
      background: #fff;
      position: absolute;
      width: 10px;
      height: 10px;
      top: 6px;
    }

    &:nth-of-type(1) {
      right: 0;

      .label {
        span {
          margin-right: 36px;
        }
      }

      input[type="radio"] + label:before {
        content: " ";
      }

      input[type="radio"]:checked + label:before {
        right: 15px;
      }
    }

    &:nth-of-type(2) {
      left: 0;

      .label {
        span {
          margin-left: 36px;
        }
      }

      input[type="radio"] + label:before {
        content: " ";
      }

      input[type="radio"]:checked + label:before {
        left: 15px;
      }
    }
  }

  @include darkTheme {
    background: #141414;

    .radio {
      .label {
        color: #b3b3b3;
      }

      input[type="radio"]:checked + label:before {
        background: #b3b3b3;
      }
    }
  }
}

.labelsSwitch {
  display: flex;
  padding: 2px;
  background: var(--Grey93);
  border-radius: 10px;
  border: 1px solid var(--Grey90);
  height: 34px;

  .radio {
    display: flex;

    input {
      display: none;
    }

    .label {
      display: flex;
      align-items: center;
      color: var(--Grey50);
      font-family: "Roboto Flex Variable", sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      border-radius: 8px;
      padding: 0 10px;
      cursor: pointer;
    }

    .checked {
      background: #fff;
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.16);
      color: var(--Grey45);
    }
  }

  @include darkTheme {
    background: var(--Grey10);
    border-color: var(--Grey18);

    .radio {
      .label {
        color: var(--Grey65);
      }

      .checked {
        background: var(--Grey30);
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
        color: var(--Grey70);
      }
    }
  }
}
