@import "@edgedb/common/mixins.scss";

.dataEditor {
  position: relative;
  flex-grow: 1;
  height: max-content;
  min-height: 100%;
  display: flex;
  z-index: 1;
  filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.25));
}

.actions {
  position: absolute;
  top: 0;
  height: 32px;
  left: 100%;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 0 4px 4px 0;

  .action {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    svg {
      fill: #fff;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }

    &.actionDisabled {
      pointer-events: none;
      opacity: 0.4;
    }
  }

  .emptySetAction {
    background: #e5c18c;
  }
  .submitChangesAction {
    background: #49d8ad;
  }

  @include darkTheme {
    background: #141414;

    .action svg {
      fill: #141414;
    }

    .emptySetAction {
      background: #a1843d;
    }
    .submitChangesAction {
      background: #29b189;
    }
  }
}

.textbox {
  flex-grow: 1;
  display: flex;
  position: relative;

  input,
  textarea {
    flex-grow: 1;
    appearance: none;
    box-sizing: border-box;
    background: #fafafa;
    outline: none;
    border: 2px solid transparent;
    border-radius: 4px;
    padding: 3px 6px;
    margin: 0;
    font-family: Roboto Mono;
    font-size: 14px;
    line-height: 22px;
    min-height: 32px;
    white-space: pre;
    @include hideScrollbar;

    &:focus,
    &.active {
      border-color: #047cff;
    }

    &.error {
      border-color: #d78d87;
    }

    @include darkTheme {
      background: #141414;
      color: #adadad;

      &:focus,
      &.active {
        border-color: #047cff;
      }

      &.error {
        border-color: #af6963;
      }
    }
  }

  input:focus + .errMessage,
  textarea:focus + .errMessage {
    display: block;
  }

  .dataEditor > & {
    input,
    textarea {
      border-radius: 4px 0 0 4px;
    }
  }
}

.errMessage {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 4px 0;
  background: #d78d87;
  color: #fff;
  border-radius: 4px;
  padding: 4px 6px;
  line-height: 20px;
  z-index: 1;
  display: none;

  @include darkTheme {
    background: #af6963;
    color: #141414;
  }

  .errorMessageAbove & {
    top: unset;
    bottom: 100%;
  }
}

.boolEditor {
  display: flex;
  align-items: center;
  height: 30px;

  div {
    font-family: Roboto Mono;
    line-height: 22px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 14px;
    padding: 0 8px;
    cursor: pointer;
    opacity: 0.6;

    &:not(:last-child) {
      margin-right: 6px;
    }
  }

  .boolSelected {
    background: var(--app-accent-green);
    border-color: transparent;
    color: #fff;
  }
}

.panel {
  position: relative;
  background: #eaeaea;
  border-radius: 3px;
  padding: 6px 22px;
  min-height: 28px;

  &:before,
  &:after {
    position: absolute;
    font-family: Roboto Mono;
    opacity: 0.7;
    line-height: 30px;
  }
  &:before {
    top: 5px;
    left: 7px;
  }
  &:after {
    bottom: 5px;
    right: 7px;
  }

  &.panelNested {
    background: #e0e0e0;
  }

  @include darkTheme {
    background: #262626;

    &.panelNested {
      background: #333;
    }
  }
}

.emptyValue {
  opacity: 0.6;
  margin-right: 8px;
}

.button {
  line-height: 22px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 14px;
  padding: 0 8px;
  cursor: pointer;
  opacity: 0.9;
  width: max-content;

  &:hover {
    opacity: 1;
  }
}

.tupleEditor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &:before {
    content: "(";
  }
  &:after {
    content: ")";
  }

  .tupleElement {
    display: flex;
    line-height: 30px;

    .tupleElementName {
      font-family: Roboto Mono;
      flex-shrink: 0;
      margin-right: 6px;

      span {
        opacity: 0.7;
        margin-left: 3px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 6px;

      &:after {
        align-self: flex-end;
        content: ",";
        padding-left: 3px;
        width: 0;
        margin-right: -3px;
        opacity: 0.7;
      }
    }
  }

  &.emptyTuple {
    padding: 1px 12px;

    &:before {
      content: "";
    }
    &:after {
      content: "";
    }

    & > div {
      display: flex;
      height: 28px;
      align-items: center;
    }
  }
}

.arrayEditor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &:before {
    content: "[";
  }
  &:after {
    content: "]";
  }

  &.isSet {
    &:before {
      content: "{";
    }
    &:after {
      content: "}";
    }
  }

  .arrayItem {
    display: flex;
    align-items: center;
    line-height: 30px;
    margin-right: -12px;

    & > span {
      opacity: 0.7;
      margin: 0 3px;
      align-self: flex-end;
    }

    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }
}
