@import "@edgedb/common/mixins";

.loginPage {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.logo {
  position: absolute;
  top: 16px;
  left: 24px;
}

.loginPanel {
  border-color: var(--Grey85);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12),
    0px 2px 2px 0px rgba(0, 0, 0, 0.04);

  @include darkTheme {
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.4),
      0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  }

  code {
    background: var(--Grey93);
    font-family: "Roboto Mono Variable", monospace;
    padding: 2px 4px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 13px;
    color: var(--secondary_text_color);

    @include darkTheme {
      background: var(--Grey25);
    }
  }
}

.formContent {
  width: 320px;
  padding-bottom: 32px;
}
