@import "@edgedb/common/mixins.scss";

.graphql {
  flex-grow: 1;
  display: flex;
}

.loadingPanel,
.notEnabled {
  background: var(--app-panel-bg);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.editor {
  position: relative;
  display: flex;
  flex-grow: 1;
  min-width: 0;
}

.editorOverlays {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 50%;
}

.controls {
  margin: 8px;
  display: flex;
  align-items: center;
}

.runButton {
  --buttonBg: var(--app-accent-green);
  --buttonTextColour: #0a4634;
  align-self: flex-start;
  flex-shrink: 0;
  margin-right: auto;
}

.varsEditor {
  margin: 8px;
  margin-top: 0;
  background: #fff;
  --code-editor-bg: #fff;
  border-radius: 8px;
  flex-shrink: 1;
  min-height: 0;
  height: 45px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition: height 0.2s;

  .header {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: #9b9b9b;
    padding: 16px;
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.03);

      @include darkTheme {
        background: rgba(255, 255, 255, 0.03);
      }
    }

    .error {
      text-transform: none;
      font-family: Roboto Mono, monospace;
      margin-left: auto;
      font-size: 12px;
      color: #d86060;
    }
  }

  .panelToggle {
    margin-right: 8px;

    svg {
      width: 12px;
      transform: rotate(180deg);
    }
  }

  .varsCodeEditor {
    display: flex;
    min-height: 0;
    flex-grow: 1;
  }

  &.varsEditorOpen {
    height: 250px;

    .panelToggle svg {
      transform: none;
    }
  }

  @include darkTheme {
    background: #363636;
    --code-editor-bg: #363636;
  }
}

.output {
  overflow: auto;
  flex-grow: 1;
  font-family: Roboto Mono, monospace;
}

.resultJson {
  margin: 0;
  padding: 16px;
  font-family: inherit;
  line-height: 20px;
  user-select: text;
}
