@import "@edgedb/common/mixins.scss";

.paramEditorPanel {
  margin: 8px;
  margin-top: 0;
  background: #fff;
  border-radius: 8px;
  flex-shrink: 1;
  min-height: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  overflow: auto;
  @include customScrollbar;

  @include darkTheme {
    background: #363636;
  }
}

.header {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #9b9b9b;
  padding: 16px;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1;

  @include darkTheme {
    background: #363636;
  }
}

.paramsList {
  display: grid;
  grid-template-columns: auto auto 1fr;
  row-gap: 1.5rem;
  column-gap: 2rem;
  min-height: 0;
  padding: 0 16px 16px 16px;
}

.paramEditorItem {
  display: contents;
}

.paramDisabled {
  .paramDetails,
  .paramData {
    opacity: 0.35;
    pointer-events: none;
  }
}

.paramOptional {
  height: 32px;
  display: flex;
  align-items: center;
}

.paramDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  height: 32px;
}

.paramIdents {
  display: flex;

  font-family: Roboto Mono;
  font-size: 13px;
  line-height: 18px;
  color: #333;

  @include darkTheme {
    color: #c4c4c4;
  }
}

.paramType {
  color: rgb(51, 51, 51, 0.5);
  margin-right: 1rem;
  font-weight: 300;

  @include darkTheme {
    color: rgba(196, 196, 196, 0.5);
  }
}

.paramOptionalLabel {
  font-size: 12px;
  line-height: 14px;

  color: rgb(51, 51, 51, 0.5);

  @include darkTheme {
    color: rgba(196, 196, 196, 0.5);
  }
}

.paramData {
  display: flex;
  justify-self: flex-start;

  & > div {
    & > input,
    & > textarea {
      border-color: #d0d0d0;

      @include darkTheme {
        border-color: #616161;
      }
    }
  }
}

.paramError {
  color: #eb4747;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.topLevelError {
  padding: 0 16px 16px 16px;
}
