@use "@sass-fairy/url";
@import "@edgedb/common/mixins.scss";

.checkbox {
  display: flex;
  height: 32px;
  align-items: center;
  gap: 6px;
  padding: 0 4px;
  color: var(--main_text_color, #4d4d4d);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;

  .check {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid var(--Grey85, #d9d9d9);
    background: #fff;
    box-sizing: border-box;
  }

  input {
    display: none;

    &:checked + .check {
      border: 0;
      background-color: #a15ec0;
      background-image: url.svg(
        '<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">'
          '<path d="M5 10.5L8 13.5L14.5 7" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>'
          "</svg>"
      );
    }
  }

  @include darkTheme {
    color: #ccc;

    .check {
      border-color: var(--Grey40, #666);
      background: #363636;
    }
  }
}
