@import "../../mixins.scss";

.themeSwitcher {
  position: relative;
  color: #b3b3b3;
}

$iconSize: 32px;
$iconSpacing: 6px;

.popup {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
  height: $iconSize;
  width: $iconSize;
  border-radius: ($iconSize / 2);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
  transition: transform 0.1s 0.2s linear,
    width 0.133s 0.066s cubic-bezier(0.76, 0, 0.78, 0.9), opacity 0s 0.3s;

  .button {
    position: absolute;
    opacity: 0;
    right: 2 * ($iconSize + $iconSpacing);
    transition: opacity 0.1s ease-in-out;

    &:nth-child(2) {
      right: $iconSize + $iconSpacing;
      transition-delay: 0.033s;
    }

    &:nth-child(3) {
      right: 0;
      transition-delay: 0.066s;
    }
  }

  &.popupOpen {
    transform: scale(1);
    width: $iconSize * 3 + $iconSpacing * 2;
    opacity: 1;
    pointer-events: all;
    transition: transform 0.1s linear, width 0.133s 0.1s ease;

    .button {
      opacity: 1;
      transition-delay: 0.133s;

      &:nth-child(2) {
        transition-delay: 0.166s;
      }

      &:nth-child(1) {
        transition-delay: 0.2s;
      }
    }
  }

  &.fullyOpen {
    overflow: visible;
  }

  @include darkTheme {
    background-color: #212121;
  }
}

.button {
  position: relative;
  width: $iconSize;
  height: $iconSize;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;

  &:hover {
    color: #1f8aed;

    svg {
      opacity: 1;
    }

    @include darkTheme {
      color: #3a82c4;
    }
  }

  &.active {
    color: #1f8aed;
  }

  @include darkTheme {
    &.active {
      color: #3a82c4;
    }
  }

  &:hover {
    > div {
      opacity: 1;
    }
  }
}

.lightIcon {
  @include darkTheme {
    display: none;
  }
}

.darkIcon {
  display: none;
  @include darkTheme {
    display: block;
  }
}
