@import "@edgedb/common/mixins.scss";

.historyBlock {
  position: relative;
  display: flex;
  padding: 0 24px;
}

.insideScriptBlock {
  &:before {
    position: absolute;
    content: "";
    left: 12px;
    right: 12px;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.04);

    @include darkTheme {
      background: rgba(255, 255, 255, 0.1);
    }
  }

  &.scriptBlockFirst {
    &:before {
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }

  &.scriptBlockLast {
    &:before {
      top: 12px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }

    .blockBody {
      margin-top: 24px;
    }
  }
}

.scriptBlockHeader {
  display: flex;
  margin-bottom: 1rem;

  .scriptBlockLabel {
    font-weight: bold;
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;
    margin-right: auto;
    color: #8c8c8c;
  }
}

.blockBody {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  margin: 12px 0;
  z-index: 1;
}

.cell {
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "collapse input"
    "collapse output";
  background-color: var(--repl-history-output-background);
  border-radius: 6px;
  overflow: hidden;
}

.inputBlock {
  grid-area: input;
  background-color: var(--repl-history-input-background);
  min-width: 0;
}

.outputBlock {
  grid-area: output;
  background-color: var(--repl-history-output-background);
}

.collapse {
  grid-area: collapse;
  background-color: var(--repl-history-collapse-background);
  display: flex;
  justify-content: center;
  cursor: pointer;

  .collapseIcon {
    width: 12px;
    height: 40px;
    fill: none;
    stroke: currentColor;
    margin-left: -1px;
    color: var(--repl-history-collapse-icon);

    .expanded & {
      transform: rotate(90deg);
      margin-left: 0;
    }
  }
}

.blockLabel {
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  color: var(--repl-history-block-label);
  width: 65px;
  flex-shrink: 0;
}

.infoLabel {
  font-weight: 500;
  font-size: 10px;
  color: var(--repl-history-info-label);
}

.code {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.header {
  display: flex;
  align-items: flex-start;
  padding: 10px 14px;
  line-height: 20px;

  .info {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-left: 20px;
    flex-shrink: 0;
  }

  .collapsedQuery {
    color: var(--repl-history-query-colour);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.smallButton {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--repl-history-button-colour);
  background: var(--repl-history-button-background);
  border-radius: 11px;
  border: 0;
  outline: 0;
  padding: 0 10px;
  margin-right: 8px;
  cursor: pointer;
}

.query {
  margin: 0px 12px 12px 30px;
  padding-bottom: 1px;
  overflow: auto;

  @include customScrollbar;
}

.inspector {
  margin: -6px 0 12px 12px !important;
  width: calc(100% - 12px) !important;
  font-family: Roboto Mono;
  color: var(--repl-inspector-colour);

  @include customScrollbar;
}

.queryStatus {
  font-family: Roboto Mono;
  opacity: 0.8;
  padding: 0 12px 12px 24px;
  margin-top: -4px;
}

.configNote {
  background: rgba(226, 215, 63, 0.7);
  border-radius: 12px;
  padding: 0 10px;
  color: #706906;
  margin-left: -16px;
  white-space: nowrap;

  @include darkTheme {
    color: #363307;
  }
}

.queryError {
  font-weight: normal;
  font-family: Roboto Mono;
  font-size: 14px;
  line-height: 20px;
  color: var(--repl-history-query-colour);
  margin: 0 12px;
  user-select: text;
}

.errorName {
  font-weight: 600;
}

.errorHint {
  // font-style: italic;
  opacity: 0.7;
}

.errorUnderline {
  background-repeat: repeat-x;
  background-position: bottom;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='3' viewBox='0 0 6 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0.82843C0.511845 0.82843 1.02369 1.02369 1.41421 1.41422L1.58579 1.58579C2.36683 2.36684 3.63316 2.36684 4.41421 1.58579L4.58579 1.41422C4.97631 1.02369 5.48816 0.828431 6 0.828431' stroke='%23E91919'/%3E%3C/svg%3E%0A");
  padding-bottom: 1px;
}

.error {
  .inputBlock {
    background-color: var(--transaction-error);

    .blockLabel,
    .infoLabel,
    .collapsedQuery,
    .query span {
      color: var(--transaction-query-colour);
    }
  }

  .outputBlock .blockLabel {
    color: var(--transaction-error);
  }
}

.queryDuration {
  position: relative;
  display: inline-block;
  padding: 1rem;
  margin: -1rem;

  &Tooltip {
    position: absolute;
    top: 0.5rem;
    right: 0px;
    background: #1d1d1d;
    padding: 0.3em 1em;
    border-radius: 4px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;

    span {
      font-weight: 600;
      margin-right: 1em;
    }
  }

  &:hover &Tooltip {
    opacity: 1;
    pointer-events: auto;
  }
}
