.tabs {
  display: flex;
  align-items: center;
  margin-left: 58px;

  font-family: "Inter", sans-serif;
}

.tab {
  display: flex;
  align-items: center;
  font-size: 14px;

  .tabTitle {
    display: flex;
    align-items: center;
    font-weight: 500;

    & > svg {
      fill: #adadad;
      margin-right: 8px;
    }
  }
}

.tabSep {
  margin: 0 4px;
  margin-left: 2px;
  opacity: 0.5;
}
