.tabs {
  display: flex;
  align-items: center;
  margin-left: 58px;
}

.tab {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--font-inactive-gray);
  font-weight: 600;
  padding: 6px 10px;
  & > svg {
    fill: var(--font-inactive-gray);
    margin-right: 8px;
  }

  &:hover {
    color: var(--font-active-gray);
    background: var(--app-bg-gray);
    & > svg {
      fill: var(--font-active-gray);
    }
  }
}

.tabSep {
  margin: 0 8px;
  opacity: 0.5;
}
