.inspectorTheme {
  --type-color: #888;

  --inspector-green: #26a073;
  --inspector-red: #c12f54;
  --inspector-purple: #791590;
  --inspector-blue: #1c79de;
  --inspector-orange: #bf901d;

  :global(.dark-theme) & {
    --inspector-green: #2dd8a5;
    --inspector-red: #ee464d;
    --inspector-purple: #b466ce;
    --inspector-blue: #1c79de;
    --inspector-orange: #fb9256;
  }
}

.inspector {
  @extend .inspectorTheme;

  & * {
    box-sizing: border-box;
  }

  .innerWrapper {
    width: max-content;
    min-width: 100%;
    padding: 8px;
  }
}

.showMore {
  position: absolute;
  font-family: Roboto, "sans-serif";
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-bottom: 12px;
  padding-top: 6px;
  background: linear-gradient(
    0deg,
    var(--inspectorBg),
    var(--inspectorBg) 12px,
    transparent
  );

  span {
    background: #f8f8f8;
    border-radius: 14px;
    padding: 4px 10px;
    opacity: 0.8;

    :global(.dark-theme) & {
      background: #272727;
    }
  }
}

.rowWrapper {
  position: relative;
}

.rowItem {
  position: relative;
  display: flex;
  line-height: var(--lineHeight);
  padding: var(--rowPad) 0;
  white-space: pre;
  border-radius: 6px;

  .jsonMode & {
    padding-left: 0 !important;
  }

  .inspector:focus &.selected {
    background: var(--inspectorRowSelectedBg, #e8eef2);

    &:after {
      left: 0;
      position: absolute;
      content: "";
      width: 4px;
      top: 0;
      bottom: 0;
      background: #1f8aed;
      border-radius: 4px 2px 2px 4px;
    }

    :global(.dark-theme) & {
      background: var(--inspectorRowSelectedBg, #2c3134);
    }
  }

  &.hoverable:hover {
    background: var(--inspectorRowHoverBg, #ebebeb);

    .actions {
      opacity: 1;
    }

    :global(.dark-theme) & {
      background: var(--inspectorRowHoverBg, #303030);
    }
  }

  .itemContent,
  .itemBody {
    display: flex;
    padding: 0 2px;
    margin: 0 -2px;
    border-radius: 3px;
  }

  .itemContent {
    margin-right: auto;
  }

  &.highlightBody {
    .itemBody {
      background: var(--inspectorCopyHighlightBg, Highlight);

      &,
      & * {
        color: var(--inspectorCopyHighlight, HighlightText) !important;
      }
    }
  }

  &.highlightAll {
    .itemContent {
      background: var(--inspectorCopyHighlightBg, Highlight);

      &,
      & * {
        color: var(--inspectorCopyHighlight, HighlightText) !important;
      }
    }
  }
}

.comma {
  align-self: flex-end;
}

.expandArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: var(--lineHeight);
  margin-left: -24px;
  cursor: pointer;
  transform: rotate(-90deg);
  transition: transform 0.1s;

  &.expanded {
    transform: rotate(0);
  }

  svg {
    width: 11px;
  }
}

.ellipsis {
  border: 1px solid #ccc;
  background: #eee;
  fill: #4d4d4d;
  user-select: none;
  height: 12px;
  margin: 0 3px;
  margin-top: calc((var(--lineHeight) - 12px) / 2);
  display: flex;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;

  :global(.dark-theme) & {
    border-color: #636363;
    background: #3d3d3d;
    fill: #e7e7e7;
  }

  &.inline {
    display: inline-flex;
    vertical-align: middle;
    margin-top: -3px;
  }
}

.actions {
  display: flex;
  height: calc(var(--lineHeight) + 2 * var(--rowPad));
  margin: -1px 0;
  position: sticky;
  right: 8px;
  top: 0;
  opacity: 0;

  &:before {
    content: "";
    background: var(--inspectorRowHoverBg, #ebebeb);
    opacity: 0.9;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    .inspector:focus .rowItem.selected & {
      background: var(--inspectorRowSelectedBg, #e8eef2);
    }
  }

  :global(.dark-theme) &:before {
    background: var(--inspectorRowHoverBg, #303030);
  }
  :global(.dark-theme) .inspector:focus .rowItem.selected &:before {
    background: var(--inspectorRowSelectedBg, #2c3134);
  }
}

.actionButton {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 24px;
  text-transform: uppercase;
  color: #a2a2a2;
  padding: 0 8px;
  cursor: pointer;

  &:hover {
    color: #1f8aed;
  }
}

.copyButton {
  svg {
    fill: currentColor;
    margin-right: 6px;
  }
}

.openExtendedButton {
  svg {
    stroke: currentColor;
    height: 20px;
  }
}

.resultsHidden {
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  display: inline-block;
  border-bottom: 1px dotted currentColor;
  opacity: 0.6;

  &.loadable {
    opacity: 0.6;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}

// syntax highlighting

.typeName {
  color: var(--type-color);
  user-select: none;
  pointer-events: none;
}

.scalar_string {
  color: var(--inspector-green);
  padding-left: 1ch;

  &:before {
    content: "'";
    margin-left: -1ch;
  }
  &:after {
    content: "'";
  }

  span {
    color: #808080;
  }

  .jsonMode & {
    color: inherit;
    &:before,
    &:after {
      content: "";
      margin-left: 0;
    }
  }
}

.scalar_number {
  color: var(--inspector-orange);

  .scalar_mod {
    color: var(--inspector-blue);
  }
}

.scalar_boolean {
  color: var(--inspector-orange);
}

.scalar_bytes {
  color: var(--inspector-green);
  word-wrap: break-word;

  .scalar_mod {
    color: var(--inspector-blue);
  }
}

.scalar_tag {
  .scalar_tag_open,
  .scalar_tag_close {
    color: var(--inspector-red);
  }
  .scalar_tag_name {
    color: var(--inspector-blue);
  }
}
