@import "@edgedb/common/mixins.scss";

.lazyLoading {
  margin: auto;
  color: var(--secondary_text_color);
}

.headerBar {
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid var(--Grey93, #ededed);
  background: var(--Grey99, #fcfcfc);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.08);
  font-family: "Roboto Flex Variable", sans-serif;
  flex-shrink: 0;
  z-index: 1;

  @include darkTheme {
    border-bottom: 1px solid var(--Grey22, #363636);
    background: var(--Grey18, #2e2e2e);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
  }
}

.closeButton {
  background: none;
  border: 0;
  outline: 0;
  color: var(--secondary_text_color);
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  margin-right: 4px;
  cursor: pointer;

  &:hover {
    background: var(--Grey93);

    @include darkTheme {
      background: var(--Grey25);
    }
  }
}

.actions {
  display: flex;
  flex-grow: 1;
  margin: 0 16px 0 4px;
  gap: 8px;

  > button {
    height: 32px;
    padding: 0 8px;
    border-radius: 8px;
  }
}

.toggleButton {
  svg {
    color: var(--tertiary_text_color);
    margin-left: -6px;
  }

  &.active {
    svg {
      color: #0ccb93;
    }
  }
}

.noViewer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;

  .message {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    flex-grow: 1;
    opacity: 0.7;
  }
}
