.popupMenu {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.popupMenuOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.popupMenuPanel {
  position: absolute;
  box-sizing: border-box;
  background: #1c1c1c;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  width: max-content;
  max-width: 21rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  transform: translateX(calc(-100% + 2.5rem));
}

.popupMenuItem {
  padding: 1rem 0;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #999999;

  &:hover {
    color: #057d52;
  }
}
