@import "../../../mixins.scss";

.historyBlock {
  position: relative;
  display: flex;
  padding: 0 24px;

  &.transactionActive {
    --transactionStateColour: var(--transaction-active);
    --transactionStateColourDark: var(--transaction-active-dark);
  }
  &.transactionInError,
  &.transactionRolledback {
    --transactionStateColour: var(--transaction-error);
    --transactionStateColourDark: var(--transaction-error-dark);
  }
  &.transactionCommitted {
    --transactionStateColour: var(--transaction-committed);
    --transactionStateColourDark: var(--transaction-committed-dark);
  }

  --transactionCellColour: var(--transactionStateColour);
}

.insideScriptBlock {
  &:before {
    position: absolute;
    content: "";
    left: 12px;
    right: 12px;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.1);
  }

  &.scriptBlockFirst {
    &:before {
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }

  &.scriptBlockLast {
    &:before {
      top: 12px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }

    .blockBody {
      margin-top: 24px;
    }
  }
}

.scriptBlockHeader {
  display: flex;
  margin-bottom: 1rem;

  .scriptBlockLabel {
    font-weight: bold;
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;
    margin-right: auto;
    color: #8c8c8c;
  }
}

.blockBody {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  margin: 12px 0;
  z-index: 1;
}

.cell {
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "collapse input"
    "collapse output";
  background-color: var(--repl-history-output-background);
  border-radius: 6px;
  overflow: hidden;
}

.inputBlock {
  grid-area: input;
  background-color: var(--repl-history-input-background);
  min-width: 0;
}

.outputBlock {
  grid-area: output;
  background-color: var(--repl-history-output-background);
}

.collapse {
  grid-area: collapse;
  background-color: var(--repl-history-collapse-background);
  display: flex;
  justify-content: center;
  cursor: pointer;

  .collapseIcon {
    width: 12px;
    height: 40px;
    fill: none;
    stroke: currentColor;
    margin-left: -1px;
    color: var(--repl-history-collapse-icon);

    .expanded & {
      transform: rotate(90deg);
      margin-left: 0;
    }
  }
}

.blockLabel {
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  color: var(--repl-history-block-label);
  width: 65px;
  flex-shrink: 0;
}

.infoLabel {
  font-weight: 500;
  font-size: 10px;
  color: var(--repl-history-info-label);
}

.code {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.header {
  display: flex;
  align-items: flex-start;
  padding: 10px 14px;
  line-height: 20px;

  .info {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-left: 20px;
    flex-shrink: 0;
  }

  .collapsedQuery {
    color: var(--repl-history-query-colour);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.smallButton {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--repl-history-button-colour);
  background: var(--repl-history-button-background);
  border-radius: 11px;
  border: 0;
  outline: 0;
  padding: 0 10px;
  margin-right: 8px;
  cursor: pointer;
}

.query {
  margin: 0px 12px 12px 30px;
  padding-bottom: 1px;
  overflow: auto;

  @include customScrollbar;
}

.inspector {
  margin: -6px 0 12px 12px !important;
  width: calc(100% - 12px) !important;
  font-family: Roboto Mono;
  color: var(--repl-inspector-colour);

  @include customScrollbar;
}

.queryError {
  font-weight: normal;
  font-family: Roboto Mono;
  font-size: 14px;
  line-height: 20px;
  color: var(--repl-history-query-colour);
  margin: 0 12px;
  user-select: text;
}

.errorName {
  font-weight: 600;
}

.errorHint {
  // font-style: italic;
  opacity: 0.7;
}

.errorUnderline {
  background-repeat: repeat-x;
  background-position: bottom;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='3' viewBox='0 0 6 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0.82843C0.511845 0.82843 1.02369 1.02369 1.41421 1.41422L1.58579 1.58579C2.36683 2.36684 3.63316 2.36684 4.41421 1.58579L4.58579 1.41422C4.97631 1.02369 5.48816 0.828431 6 0.828431' stroke='%23E91919'/%3E%3C/svg%3E%0A");
  padding-bottom: 1px;
}

.error {
  .inputBlock {
    background-color: var(--transaction-error);

    .blockLabel,
    .infoLabel,
    .collapsedQuery,
    .query span {
      color: var(--transaction-query-colour);
    }
  }

  .outputBlock .blockLabel {
    color: var(--transaction-error);
  }
}

.queryDuration {
  position: relative;
  display: inline-block;
  padding: 1rem;
  margin: -1rem;

  &Tooltip {
    position: absolute;
    top: 0.5rem;
    right: 0px;
    background: #1d1d1d;
    padding: 0.3em 1em;
    border-radius: 4px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;

    span {
      font-weight: 600;
      margin-right: 1em;
    }
  }

  &:hover &Tooltip {
    opacity: 1;
    pointer-events: auto;
  }
}

// transaction styles

.transactionCellRolledback {
  --transactionCellColour: var(--transaction-error);

  &:not(.expanded):not(.transactionCell-savepoint) .cell,
  &.transactionSavepointRolledback .cell {
    opacity: 0.3;
  }
}

.transactionIndicator {
  display: flex;
  flex-direction: column;
  width: 36px;
  flex-shrink: 0;
  margin-bottom: -1px;
}

.transactionMarker {
  width: 20px;
  height: 20px;
  align-self: center;
  color: var(--transactionCellColour);
}

.transactionLine {
  flex: 1;
  background-color: var(--transactionStateColour);
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' %3E%3Cline x1='50%25' y1='0%25' x2='50%25' y2='100%25' stroke='%23000' stroke-width='2' /%3E%3C/svg%3E");

  .transactionCellRolledback & {
    background-color: var(--transaction-error);
  }

  &.transactionLineActive {
    background-color: var(--transactionStateColour);
  }

  &.transactionLineError {
    background-color: var(--transaction-error);
  }
}

.transactionCell {
  background: none;
  border: 2px solid var(--transactionCellColour);

  .inputBlock {
    background: none;

    .blockLabel,
    .infoLabel {
      color: var(--transactionCellColour);
    }
  }
}

.transactionCell-startTransaction,
.transactionCell-commit,
.transactionCell-rollback {
  .transactionMarker {
    height: calc(100% - 26px);
    margin-bottom: 13px;
  }

  .transactionCell {
    margin-left: -36px;
    padding-left: 36px;
  }
}

.transactionCell-commit,
.transactionCell-rollback {
  .transactionMarker {
    margin-bottom: 0;
    margin-top: 13px;
  }
}

.transactionCell-rollbackTo,
.transactionCell-releaseSavepoint {
  --transactionCellColour: var(--transaction-error);
}

.transactionCell-savepoint {
  --transactionCellColour: var(--transaction-savepoint);

  &.transactionSavepointRolledback {
    --transactionCellColour: var(--transaction-error);
  }
}

.savepointReleasedLabel {
  height: 18px;
  border: 2px solid var(--transaction-error);
  margin: -1px;
  border-radius: 10px;
  padding: 0 6px;
  font-weight: bold;
  font-size: 10px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--transaction-error);
  margin-right: 10px;
}

// transaction status

.transactionStatus {
  color: var(--transactionStateColour);

  .transactionStatusMessage {
    padding-bottom: 12px;
  }

  .statusLabel {
    font-weight: bold;
    font-size: 10px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .statusMessage {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: var(--transaction-status-colour);
  }

  .transactionMarker {
    stroke: currentColor;
    stroke-width: 2px;
    fill: none;
    margin: -2px;
  }
}
