@import "@edgedb/common/mixins.scss";

.replWrapper {
  position: relative;
  flex-grow: 1;
  min-height: 0;
  min-width: 0;
  display: flex;
}

.repl {
  flex-grow: 1;
  min-height: 0;
  min-width: 0;
  background-color: #f5f5f5;
  border-radius: 8px;
  font-family: "Roboto Mono", monospace;

  :global {
    .cm-scroller {
      font-size: 14px;
    }

    .cm-gutters {
      padding-left: 10px;
      padding-right: 2px;
    }
  }

  &.showExtendedResult {
    margin: 0 8px;
    filter: brightness(0.95);
    pointer-events: none;
  }

  @include darkTheme {
    background-color: #242424;
  }
}

.extendedViewerContainer {
  position: absolute;
  display: flex;
  top: 12px;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--app-panel-bg);
  border-radius: 8px;
  z-index: 1;
  overflow: hidden;
}

.replHeader {
  padding: 0 32px;

  .headerAscii {
    white-space: pre;
    font-size: 14px;
    color: #cc960a;

    span {
      color: #9e64ba;
    }
  }

  .headerMsg {
    margin-top: 16px;
    opacity: 0.7;

    span {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.list {
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;

  @include hideScrollbar;
}

.scrollInner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.listInner {
  flex-shrink: 0;
  position: relative;
  margin-bottom: 12px;
}

.replInput {
  flex-grow: 1;
  display: flex;
  padding: 0 16px;

  .scrollWrapper {
    flex-grow: 1;
    display: flex;
    min-width: 0;
  }

  :global(.cm-editor) {
    margin-bottom: 12px;
  }

  :global(.cm-scroller) {
    @include hideScrollbar;
  }

  &.hidden {
    display: none;
  }
}

.replHistoryItem {
  position: absolute;
  background: #ebebeb;
  --inspectorBg: #ebebeb;
  box-sizing: border-box;
  margin: 12px 16px;
  width: calc(100% - 32px);
  padding: 12px 16px;
  padding-bottom: 0;
  border-radius: 8px;

  &.showDateHeader {
    margin-top: 36px;
  }

  .scrollWrapper {
    overflow: auto;
    @include hideScrollbar;
  }

  @include darkTheme {
    background: #303030;
    --inspectorBg: #303030;
  }
}

.historyDateHeader {
  position: absolute;
  height: 16px;
  top: -26px;
  left: 0;
  right: 0;
  display: flex;
  opacity: 0.7;
  font-size: 13px;

  &:before,
  &:after {
    content: "";
    height: 8px;
    border-bottom: 1px solid currentColor;
    flex-grow: 1;
    margin: 0 8px;
    opacity: 0.1;
  }
}

.historyQuery {
  display: flex;
  user-select: text;

  .historyPrompt {
    white-space: pre;
    user-select: none;
    pointer-events: none;
    opacity: 0.5;
    padding-right: 1ch;
  }

  .historyQueryCode {
    flex-grow: 1;
    min-width: 0;
  }

  .code {
    margin: 0;
    font-family: inherit;
    padding-bottom: 12px;
  }

  .historyTime {
    font-family: Inter, sans-serif;
    font-size: 12px;
    line-height: 18px;
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
    margin-left: 16px;
  }
}

.outputOuterWrapper {
  margin: 0 -16px;
}

.historyOutput {
  padding: 4px 8px 8px 8px;
  min-width: max-content;
}

.queryError {
  font-size: 14px;
  line-height: 20px;
  color: #bfbfbf;
  user-select: text;

  .errorName {
    font-weight: 600;
  }

  .errorHint {
    font-style: italic;
    opacity: 0.7;
  }
}

.queryStatus {
  opacity: 0.7;
}

.errorUnderline {
  background-repeat: repeat-x;
  background-position: bottom;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='3' viewBox='0 0 6 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0.82843C0.511845 0.82843 1.02369 1.02369 1.41421 1.41422L1.58579 1.58579C2.36683 2.36684 3.63316 2.36684 4.41421 1.58579L4.58579 1.41422C4.97631 1.02369 5.48816 0.828431 6 0.828431' stroke='%23E91919'/%3E%3C/svg%3E%0A");
  padding-bottom: 1px;
}

.inspector {
  min-width: max-content;

  --inspectorRowHoverBg: #f5f5f5;
  --inspectorRowSelectedBg: #d6e2e9;

  @include darkTheme {
    --inspectorRowHoverBg: #292929;
    --inspectorRowSelectedBg: #2d383f;
  }
}

.commandHelp {
  display: grid;
  grid-template-columns: auto 1fr;

  .heading,
  .subheading {
    grid-column: 1 / span 2;
  }

  .heading {
    font-weight: 500;

    &:not(:first-child) {
      margin-top: 16px;
    }
  }

  .subheading {
    padding-left: 2ch;
    opacity: 0.5;
  }

  .command {
    padding: 0 3ch 0 2ch;

    span {
      opacity: 0.5;
    }
  }

  .info {
    opacity: 0.8;

    span {
      opacity: 0.5;
    }
  }
}

.commandTextOutput {
  white-space: pre;
  user-select: text;
}

.commandTableOutput {
  border-collapse: collapse;
  line-height: 28px;

  td,
  th,
  tbody {
    border: 2px solid #7d7d7d;
  }

  td,
  th {
    padding: 0 1ch;
    font-weight: 400;
    text-align: start;
  }

  td {
    border-top: 0;
    border-bottom: 0;
  }
}

.historyLoading {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.retroMode {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    pointer-events: none;
    background: repeating-linear-gradient(
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0) 2px,
      rgba(255, 255, 255, 0.03) 3px,
      rgba(255, 255, 255, 0.03) 4px,
      rgba(255, 255, 255, 0) 5px
    );
  }

  & * {
    color: #12d612 !important;
    text-shadow: 0 0 4px #72dd72;
  }

  .commandTableOutput {
    filter: drop-shadow(0 0 2px #72dd72);

    td,
    th,
    tbody {
      border-color: rgb(18, 214, 18, 0.5);
    }

    & * {
      text-shadow: none !important;
    }
  }

  :global(.cm-cursor) {
    background: rgb(18, 214, 18, 0.5);
  }
}
