@import "@edgedb/common/mixins.scss";

.repl {
  flex-grow: 1;
  min-height: 0;
  min-width: 0;
  background-color: #242424;
  border-radius: 8px;
  font-family: "Roboto Mono", monospace;
  color: #e7e7e7;

  --syntax-purple: #ac86f6;
  --syntax-green: #07a66d;
  --syntax-blue: #369ff2;
  --syntax-red: #f13f4a;
  --syntax-orange: #f4e470;
  --syntax-comment: #7f7f7f;
  --syntax-mod: #9f9f9f;

  :global {
    .cm-scroller {
      font-size: 14px;
    }

    .cm-gutters {
      padding-left: 10px;
      padding-right: 2px;
    }
  }
}

.replHeader {
  padding: 0 32px;

  .headerAscii {
    white-space: pre;
    font-size: 14px;
    color: #cc960a;

    span {
      color: #9e64ba;
    }
  }

  .headerMsg {
    margin-top: 16px;
    opacity: 0.7;

    span {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.listWrapper {
  display: flex;
  flex-direction: column;

  // @include hideScrollbar;

  & > div {
    flex-shrink: 0;
  }
}

.replInput {
  padding: 8px;
  flex-grow: 1;
  display: flex;

  &.hidden {
    display: none;
  }
}

.replHistoryItem {
  position: absolute;
  background: #303030;
  box-sizing: border-box;
  margin: 8px;
  width: calc(100% - 16px);
  padding: 8px 16px;
  border-radius: 8px;
}

.historyQuery {
  display: flex;
  user-select: text;

  .historyPrompt {
    white-space: pre;
    user-select: none;
    pointer-events: none;
    opacity: 0.5;
    padding-right: 1ch;
  }

  .code {
    margin: 0;
    font-family: inherit;
  }
}

.historyOutput {
  margin: 16px 0 8px 0;
}

.queryError {
  font-size: 14px;
  line-height: 20px;
  color: #bfbfbf;
  user-select: text;

  .errorName {
    font-weight: 600;
  }

  .errorHint {
    font-style: italic;
    opacity: 0.7;
  }
}

.queryStatus {
  opacity: 0.7;
}

.errorUnderline {
  background-repeat: repeat-x;
  background-position: bottom;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='3' viewBox='0 0 6 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0.82843C0.511845 0.82843 1.02369 1.02369 1.41421 1.41422L1.58579 1.58579C2.36683 2.36684 3.63316 2.36684 4.41421 1.58579L4.58579 1.41422C4.97631 1.02369 5.48816 0.828431 6 0.828431' stroke='%23E91919'/%3E%3C/svg%3E%0A");
  padding-bottom: 1px;
}

.commandHelp {
  display: grid;
  grid-template-columns: auto 1fr;

  .heading,
  .subheading {
    grid-column: 1 / span 2;
  }

  .heading {
    font-weight: 500;

    &:not(:first-child) {
      margin-top: 16px;
    }
  }

  .subheading {
    padding-left: 2ch;
    opacity: 0.5;
  }

  .command {
    padding: 0 3ch 0 2ch;

    span {
      opacity: 0.5;
    }
  }

  .info {
    opacity: 0.8;

    span {
      opacity: 0.5;
    }
  }
}

.commandTextOutput {
  white-space: pre;
  user-select: text;
}

.commandTableOutput {
  border-collapse: collapse;
  line-height: 28px;

  td,
  th,
  tbody {
    border: 2px solid #7d7d7d;
  }

  td,
  th {
    padding: 0 1ch;
    font-weight: 400;
    text-align: start;
  }

  td {
    border-top: 0;
    border-bottom: 0;
  }
}

.historyLoading {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 0.8;
}

.retroMode {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    pointer-events: none;
    background: repeating-linear-gradient(
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0) 2px,
      rgba(255, 255, 255, 0.03) 3px,
      rgba(255, 255, 255, 0.03) 4px,
      rgba(255, 255, 255, 0) 5px
    );
  }

  & * {
    color: #12d612 !important;
    text-shadow: 0 0 4px #72dd72;
  }

  .commandTableOutput {
    filter: drop-shadow(0 0 2px #72dd72);

    td,
    th,
    tbody {
      border-color: rgb(18, 214, 18, 0.5);
    }

    & * {
      text-shadow: none !important;
    }
  }

  :global(.cm-cursor) {
    background: rgb(18, 214, 18, 0.5);
  }
}
