@import "@edgedb/common/mixins.scss";

.replWrapper {
  position: relative;
  flex-grow: 1;
  min-height: 0;
  min-width: 0;
  display: flex;
}

.repl {
  --outline-color: #468bff;

  @include darkTheme {
    --outline-color: #74a6fc;
  }
  flex-grow: 1;
  min-height: 0;
  min-width: 0;
  background-color: var(--app_panel_background);
  --code-editor-bg: var(--app_panel_background);
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.04), 0 0 4px rgba(0, 0, 0, 0.06);
  font-family: "Roboto Mono Variable", monospace;

  :global {
    .cm-scroller {
      font-size: 14px;
    }

    .cm-gutters {
      padding-left: 10px;
      padding-right: 2px;
    }
  }

  &.showExtendedResult {
    margin: 0 8px;
    filter: brightness(0.95);
    pointer-events: none;
  }

  @include darkTheme {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2),
      0px 0px 4px 0px rgba(0, 0, 0, 0.3);
  }

  @include breakpoint(mobile) {
    border-radius: 0;
  }
}

.extendedViewerContainer {
  position: absolute;
  display: flex;
  top: 12px;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--app-panel-bg);
  border-radius: 8px;
  z-index: 1;
  overflow: hidden;
}

.replHeader {
  padding: 0 32px;
  padding-bottom: 16px;

  .headerAscii {
    white-space: pre;
    font-size: 14px;
    line-height: 15px;
    color: #cc960a;

    span {
      color: #9e64ba;
    }
  }

  .headerMsg {
    margin-top: 15px * -3;
    margin-left: 16ch;
    padding-bottom: 16px;
    line-height: 20px;
    color: var(--tertiary_text_color);

    span {
      text-decoration: underline;
      cursor: pointer;
      color: var(--main_text_color);
    }

    @include darkTheme {
      color: var(--grey40);

      span {
        color: var(--grey75);
      }
    }
  }

  @include breakpoint(mobile) {
    padding: 0 16px;

    .headerAscii {
      font-size: 12px;
      line-height: 13px;
    }

    .headerMsg {
      margin-left: 8px;
      margin-top: 16px;
      line-height: 20px;
    }
  }
}

.list {
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;

  @include hideScrollbar;

  .runBtn {
    display: none;

    @include breakpoint(mobile) {
      display: grid;
      position: absolute;
      bottom: 8px;
      right: 16px;
    }
  }
}

.scrollInner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.listInner {
  flex-shrink: 0;
  position: relative;
  margin-bottom: 12px;

  @include breakpoint(mobile) {
    margin-bottom: 0;
  }
}

.replInput {
  flex-grow: 1;
  display: flex;
  padding: 0 16px;

  --cursor-color: #808080;
  --cursor-text-color: #fff;

  @include darkTheme {
    --cursor-color: #595959;
    --cursor-text-color: #111;
  }

  .scrollWrapper {
    flex-grow: 1;
    display: flex;
    min-width: 0;
  }

  :global(.cm-editor) {
    padding-bottom: 12px;
  }

  :global(.cm-scroller) {
    @include hideScrollbar;
  }

  &.hidden {
    pointer-events: none;
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
}

.replPromptGutter {
  color: var(--tertiary_text_color);

  span {
    color: var(--main_text_color);
  }
}

.replHistoryItem {
  position: absolute;
  background: var(--Grey95);
  --inspectorBg: var(--Grey95);
  border: 1px solid var(--Grey90);
  box-sizing: border-box;
  margin: 12px 16px;
  width: calc(100% - 32px);
  border-radius: 8px;

  &.explain {
    display: flex;

    .explainVis {
      background: var(--Grey95);
      width: 100%;

      > div {
        background: var(--Grey95);
      }

      @include darkTheme {
        background: #1c1c1c;

        > div {
          background: #1c1c1c;
        }
      }
    }

    @include breakpoint(mobile) {
      display: block;
    }
  }

  &.showDateHeader {
    margin-top: 36px;
  }

  .scrollWrapper {
    overflow-x: auto;
    overflow-y: hidden;
    @include hideScrollbar;

    &.sticky {
      height: 100%;
      max-height: 404px;
      position: sticky;
      top: 0;
    }
  }

  @include darkTheme {
    background: var(--Grey12);
    --inspectorBg: var(--Grey12);
    border-color: var(--Grey20);
  }
}

.historyDateHeader {
  position: absolute;
  top: -28px;
  left: 0;
  right: 0;
  display: flex;
  font-size: 12px;
  line-height: 16px;
  font-family: "Roboto Mono Variable", monospace;
  font-weight: 450;
  color: var(--Grey60);

  &:before,
  &:after {
    content: "";
    height: 8px;
    border-bottom: 1px solid var(--Grey85);
    flex-grow: 1;
    margin: 0 8px;
  }

  @include darkTheme {
    color: #808080;

    &:before,
    &:after {
      border-bottom-color: #404040;
    }
  }
}

.historyHeader {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--header_background);
  border-radius: 7px 7px 0 0;

  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 4px;
    pointer-events: none;
    background: linear-gradient(rgba(0, 0, 0, 0.04), transparent);
  }

  &.noOutput {
    border-radius: 7px;
  }

  &.noOutput,
  &.noShadow {
    &:after {
      display: none;
    }
  }
}

.resultModeHeader {
  padding: 4px;
  margin-left: 8px;
  margin-right: -8px;
  z-index: 1;
}

.historyQuery {
  display: flex;
  user-select: text;
  line-height: 19px;
  padding-left: 16px;

  .historyPrompt {
    white-space: pre;
    user-select: none;
    pointer-events: none;
    padding-right: 1ch;
    color: var(--tertiary_text_color);
    padding-top: 12px;

    span {
      color: var(--main_text_color);
    }
  }

  .historyQueryCode {
    padding-top: 12px;
    flex-grow: 1;
    min-width: 0;
  }

  .codeBlockContainer {
    position: relative;
    padding: 0 2px;
    padding-bottom: 12px;
    min-width: max-content;

    &.truncateQuery {
      max-height: 20 * 19px;
      overflow: hidden;
    }
  }

  .codeBlockErrorLines {
    position: absolute;
    width: 100%;
    background: rgba(255, 0, 0, 0.15);
    font-size: 19px;
    border-radius: 4px;
    margin: 0 -2px;
    padding-bottom: 2px;
  }

  .code {
    margin: 0;
    font-family: inherit;
    position: relative;
    z-index: 1;
  }

  .historyTime {
    font-size: 12px;
    font-weight: 450;
    line-height: 15px;
    color: var(--Grey60);
    pointer-events: none;
    user-select: none;
    margin: 14px 12px 0 16px;
  }

  @include isMobile {
    .historyPrompt,
    .historyQueryCode {
      padding-top: 14px;
    }
    .historyTime {
      margin-top: 16px;
    }
  }
}

.explain .historyHeader {
  width: 50%;

  @media (min-width: 768px) {
    border-radius: 7px 0 0 7px;

    &:after {
      top: 0;
      left: 100%;
      right: auto;
      height: 100%;
      width: 4px;
      pointer-events: none;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.04), transparent);
    }
  }

  @include breakpoint(mobile) {
    width: 100%;
  }
}

.outputOuterWrapper {
  flex-grow: 1;
}

.historyOutput {
  padding: 12px 8px 12px 18px;
  min-width: max-content;
  height: max-content;
  height: fit-content;

  &.wrapContent {
    min-width: auto;
  }

  .explain {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 16px;

    .runInEditorBtn {
      font-family: "Roboto Flex Variable", sans-serif;
    }

    @include breakpoint(mobile) {
      padding-right: 8px;
    }
  }
}

.queryError {
  font-size: 14px;
  line-height: 20px;
  color: #6a6a6a;
  user-select: text;

  .errorName {
    font-weight: 600;
  }

  .errorHint {
    font-style: italic;
    opacity: 0.7;
  }

  @include darkTheme {
    color: #bfbfbf;
  }
}

.queryStatus {
  opacity: 0.7;
}

.errorUnderline {
  background-repeat: repeat-x;
  background-position: bottom;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='3' viewBox='0 0 6 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0.82843C0.511845 0.82843 1.02369 1.02369 1.41421 1.41422L1.58579 1.58579C2.36683 2.36684 3.63316 2.36684 4.41421 1.58579L4.58579 1.41422C4.97631 1.02369 5.48816 0.828431 6 0.828431' stroke='%23E91919'/%3E%3C/svg%3E%0A");
  padding-bottom: 1px;
}

.inspector {
  display: grid;
  min-width: max-content;

  --inspectorRowHoverBg: var(--Grey90);
  --inspectorRowSelectedBg: #d6e2e9;

  @include darkTheme {
    --inspectorRowHoverBg: #292929;
    --inspectorRowSelectedBg: #2d383f;
  }
}

.commandHelp {
  display: grid;
  grid-template-columns: auto 1fr;
  line-height: 18px;

  .heading,
  .subheading {
    grid-column: 1 / span 2;
    color: #808080;
  }

  .heading {
    &:not(:first-child) {
      margin-top: 16px;
    }
  }

  .subheading {
    padding-left: 2ch;
  }

  .command {
    padding: 0 3ch 0 2ch;
    color: #4c4c4c;

    span {
      color: #808080;
    }
  }

  .info {
    color: #808080;
  }

  .spacer {
    grid-column: 1 / span 2;
    height: 16px;
  }

  @include darkTheme {
    .command {
      color: #c4c4c4;

      span {
        color: #666;
      }
    }

    .info {
      color: #666;
    }
  }
}

.commandTextOutput {
  white-space: pre;
  user-select: text;
}

.commandTableOutput {
  border-collapse: collapse;
  line-height: 28px;

  td,
  th,
  tbody {
    border: 1px solid var(--Grey70);

    @include darkTheme {
      border-color: var(--Grey30);
    }
  }

  td,
  th {
    padding: 0 1ch;
    font-weight: 400;
    text-align: start;
  }

  td {
    border-top: 0;
    border-bottom: 0;
  }
}

.historyLoading {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.queryRunningSpinner {
  display: flex;
  align-items: center;
  opacity: 0.9;

  .queryCancelButton {
    font-size: 13px;
    margin-left: 12px;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}

.retroMode {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    pointer-events: none;
    background: repeating-linear-gradient(
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0) 2px,
      rgba(255, 255, 255, 0.03) 3px,
      rgba(255, 255, 255, 0.03) 4px,
      rgba(255, 255, 255, 0) 5px
    );
  }

  & * {
    color: #12d612 !important;
    text-shadow: 0 0 4px #72dd72;
  }

  .commandTableOutput {
    filter: drop-shadow(0 0 2px #72dd72);

    td,
    th,
    tbody {
      border-color: rgb(18, 214, 18, 0.5);
    }

    & * {
      text-shadow: none !important;
    }
  }

  :global(.cm-cursor) {
    background: rgb(18, 214, 18, 0.5);
  }
}

.showMore,
.showFullQuery {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 8px 0 16px 0;

  button {
    font-family: "Roboto Flex Variable", sans-serif;
    text-transform: uppercase;
    color: var(--app-text-colour);
    font-size: 12px;
    font-weight: 550;
    background: #fff;
    border-radius: 16px;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.06);

    :global(.dark-theme) & {
      background: #272727;
    }
  }
}
.showMore {
  border-radius: 0 0 7px 7px;
  background: linear-gradient(
    0deg,
    var(--inspectorBg),
    var(--inspectorBg) 12px,
    transparent
  );

  button {
    opacity: 0.8;
  }
}
.showFullQuery {
  z-index: 1;
  background: linear-gradient(
    0deg,
    var(--header_background),
    var(--header_background) 12px,
    transparent
  );
}

.replResultGridWrapper {
  overflow: clip;
  border-radius: 0 0 7px 7px;
  border-top: 1px solid var(--panel_border);
}

.replResultGrid {
  position: sticky;
  top: 0;
}
