@import "@edgedb/common/mixins.scss";

.splitViewContainer {
  display: flex;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
  align-items: stretch;
  height: 100%;
  width: 100%;
  overflow: hidden;

  &.splitVertical {
    flex-direction: column;
  }
}

.splitViewChild {
  overflow: hidden;
  display: flex;
  min-width: 0;
  min-height: 0;
  flex-shrink: 0;
  flex-grow: 0;
  background: var(--app_panel_background);

  @include breakpoint(mobile) {
    width: 100% !important;
    z-index: 0;

    &:last-child {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }
}

.resizer {
  min-width: 2px;
  min-height: 2px;
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e4e4e4;

  @include breakpoint(mobile) {
    display: none;
  }

  @include darkTheme {
    background: #0f0f0f;
  }

  .grabHandle {
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    cursor: ew-resize;
  }

  .resizerIndicator {
    width: 7px;
    height: 36px;
    flex-shrink: 0;
    background: #e4e4e4;
    border-radius: 5px;
    pointer-events: none;

    &:after {
      content: "";
      display: block;
      width: 3px;
      height: 32px;
      background: var(--panel_background);
      margin: 2px;
      border-radius: 2px;
    }

    .splitVertical & {
      height: 7px;
      width: 36px;

      &:after {
        height: 3px;
        width: 32px;
      }
    }

    @include darkTheme {
      background: #0f0f0f;
    }
  }

  .splitVertical > & {
    .grabHandle {
      cursor: ns-resize;
    }
  }
}
