@import "../../mixins.scss";

.schema {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-bottom: -16px;
}

.schemaGraphView {
  flex-grow: 1;
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  overflow: hidden;

  .schema > & {
    border-radius: 8px;
  }
}

.schemaTextView {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  background: var(--app-panel-bg);
  @include customScrollbar;

  .schema > & {
    border-radius: 8px;
  }

  pre {
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 2rem 0;
    height: max-content;
    user-select: text;

    &:first-child {
      padding-left: 2rem;
    }
    &:last-child {
      padding-right: 2rem;
    }
  }

  .lineNos {
    color: #8c8c8c;
    margin-right: 2rem;
    text-align: right;
    user-select: none;

    @include darkTheme {
      color: #4e4e4e;
    }
  }
}

.toolbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.switcherLabel {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #6b6b6b;
  margin-left: auto;
  margin-right: 1.5rem;
}
