.button {
  padding: 0.75rem;
  margin: -0.5rem;
  background-color: unset;
  border: none;
  outline: none;
  cursor: pointer;

  .inner {
    height: 3.5rem;
    background-color: var(--buttonColour);
    border-radius: 1.75rem;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.6);

    & > span {
      margin: 0 auto;
    }
  }

  .shortcut {
    text-transform: none;
    opacity: 0.8;
    margin-left: 0.75rem;
  }

  svg {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    margin-right: -0.75rem;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.colour-green {
    --buttonColour: var(--buttonGreen);

    .inner {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  &.colour-red {
    --buttonColour: var(--buttonRed);

    .inner {
      color: rgba(255, 255, 255, 0.8);
    }
  }
}
