@import "@edgedb/common/mixins.scss";

.authAdmin {
  flex-grow: 1;
  background-color: var(--app-panel-bg);
  border-radius: 8px;
  display: flex;
  min-width: 0;
  min-height: 0;

  &.loaded {
    background-color: #ededed;

    @include darkTheme {
      background-color: #1c1c1c;
    }
  }

  @include isMobile {
    flex-direction: column;
  }
}

.loadingSchema {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
}

.extDisabled {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-family: "Roboto Flex Variable", sans-serif;
  color: #4d4d4d;

  h2 {
    color: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin: 0;
  }

  p {
    margin: 8px 0;
  }

  pre {
    background: #eee;
    margin: 12px;
    padding: 12px 16px;
    border-radius: 6px;
    user-select: text;

    @include darkTheme {
      background: #383838;
    }
  }

  a {
    color: #b044c2;

    @include darkTheme {
      color: #ac86f6;
    }
  }

  @include darkTheme {
    color: #ccc;
  }
}

.scrollWrapper {
  display: flex;
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
  background: var(--app-panel-bg);
  border-radius: 8px;
}

.contentWrapper {
  overflow: auto;
  flex-grow: 1;
  @include hideScrollbar;
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 8px;
  flex-shrink: 0;
  color: #545454;

  .tab {
    padding: 12px 22px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;

    &.selected {
      background: #f8f8f8;

      @include darkTheme {
        background: #2c2c2c;
      }
    }
  }

  @include darkTheme {
    color: #c5c5c5;
  }

  @include isMobile {
    flex-direction: row;
    justify-content: center;
    padding: 8px;
  }
}

.tabContent {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: max-content;
}

.docsNote {
  display: flex;
  align-items: flex-start;
  padding: 14px 24px;
  line-height: 22px;
  background: #dee6f6;
  border-radius: 8px;
  margin: -8px;
  margin-bottom: -16px;
  max-width: 100%;
  box-sizing: border-box;

  a {
    text-decoration: none;
    color: #1f8aed;
  }

  b {
    font-weight: 500;
  }

  > div {
    max-width: 100%;
    box-sizing: border-box;
  }

  > svg {
    width: 22px;
    margin: -4px;
    margin-right: 8px;
    margin-top: -1px;
    opacity: 0.7;
    flex-shrink: 0;
  }

  @include darkTheme {
    background: #252d3d;
  }
}

.authUrls {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 8px;
  gap: 8px 12px;
  align-items: center;
  margin-top: 12px;

  .label {
    text-align: right;
    font-weight: 500;
  }

  .copyUrl {
    display: flex;
    align-items: center;
    font-family: "Roboto Mono", monospace;
    white-space: nowrap;
    background: rgba(255, 255, 255, 0.35);
    height: 32px;
    padding-left: 12px;
    border-radius: 6px;
    user-select: text;
    min-width: 0;

    @include darkTheme {
      background: rgba(0, 0, 0, 0.2);
    }

    span {
      margin-right: 6px;
      flex-shrink: 1;
      overflow: auto;

      @include hideScrollbar;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
      margin-left: auto;
      background: none;
      border: 0;
      outline: 0;
      color: inherit;
      width: 34px;
      height: 34px;
      cursor: pointer;
      opacity: 0.3;
      flex-shrink: 0;

      svg {
        fill: currentColor;
      }

      &:hover {
        opacity: 0.5;
      }
    }

    &.copied {
      button {
        opacity: 1;
        color: #1f8aed;
      }
    }
  }

  .disabled {
    .label,
    .copyUrl {
      opacity: 0.4;
      pointer-events: none;
    }
  }

  @include isMobile {
    grid-template-columns: auto;
    gap: 4px;

    .label {
      text-align: left;

      &:not(:first-child) {
        margin-top: 6px;
      }
    }
  }
}

.header {
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 16px;

  &:not(:first-child) {
    margin-top: 56px;
  }
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.input {
  position: relative;
  background: #fff;
  border: 1px solid #d6d6d6;
  border-radius: 6px;
  line-height: 32px;
  font-family: "Roboto Mono", monospace;
  display: flex;
  width: fit-content;
  min-width: 0;
  max-width: 100%;

  textarea,
  input {
    font-family: inherit;
    line-height: inherit;
    font-size: 14px;
    border: 0;
    outline: 0;
    background: none;
    padding: 0 10px;
    color: inherit;
    padding-left: calc(10px + var(--prefixLen, 0) * 1ch);
    min-width: 0;
  }

  &.error:after {
    content: "";
    position: absolute;
    inset: -1px;
    border: 2px solid #db5246;
    border-radius: 6px;
    pointer-events: none;
  }

  &.disabled {
    background: none;
    pointer-events: none;
  }

  &.placeholder {
    padding: 0 10px;
    overflow: hidden;
  }

  .prefix {
    position: absolute;
    padding-left: 8px;
    pointer-events: none;
    opacity: 0.6;
  }

  @include darkTheme {
    background-color: #1a1a1a;
    border-color: #545454;
  }
}

.inputErrorMessage {
  font-size: 14px;
  line-height: 20px;
  min-height: 20px;
  padding: 4px;
  padding-bottom: 0;
  color: #db5246;
  white-space: pre-wrap;
}

.button.button {
  padding: 0;
  --buttonBg: #e9e9e9;
  --buttonTextColour: #4d4d4d;
  height: 34px;

  & > div {
    height: 34px;
    border-radius: 6px;
    text-transform: none;
    font-size: 14px;
  }

  @include darkTheme {
    --buttonBg: #3a3a3a;
    --buttonTextColour: #dcdcdc;
  }
}

.generateKeyButton {
  position: relative;
  display: flex;
  width: 32px;
  height: 32px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  color: #747474;
  font-family: "Roboto", sans-serif;
  margin-left: -8px;
  margin-right: 4px;

  span {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.1s;
    font-size: 12px;
    white-space: nowrap;
    top: 100%;
    line-height: 16px;
    color: #4d4d4d;
    background: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  &:hover {
    color: #4d4d4d;

    span {
      opacity: 1;
    }
  }
}

.configGrid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 24px;
  padding: 0 16px;
  max-width: 100%;
  box-sizing: border-box;
  margin-top: 8px;

  .gridItem {
    display: contents;
    min-width: 0;
  }

  .configName {
    font-family: "Roboto Mono", monospace;
    text-align: right;
    line-height: 34px;
  }

  .configInput {
    display: flex;
    gap: 8px;
  }

  .configExplain {
    max-width: 320px;
    opacity: 0.7;
    font-size: 13px;
    margin: 6px 4px;
  }

  @include isMobile {
    grid-template-columns: auto;
    padding: 0;

    .gridItem {
      display: block;
    }

    .configName {
      text-align: left;
      padding: 0 4px;
      line-height: 28px;
      margin-bottom: 2px;
    }
  }
}

.checkbox {
  display: flex;
  padding: 7px;
  margin: 0 -7px;
  cursor: pointer;

  input {
    appearance: none;
    width: 20px;
    height: 20px;
    margin: 0;
    outline: 0;
    border: 2px solid #9a9a9a;
    border-radius: 4px;
    background: transparent no-repeat center center;
    box-sizing: border-box;
    cursor: pointer;

    &:checked {
      background-color: #1f8aed;
      border: none;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14'%3E%3Cpath fill='%23fff' d='M0,8 5,13 14,4 12,2 5,9 2,6z'/%3E%3C/svg%3E");
    }
  }
}

.providersList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
  align-self: stretch;
  max-width: 560px;
}

.noProviders {
  border: 2px dashed #ccc;
  padding: 18px;
  border-radius: 8px;
  opacity: 0.7;
  font-style: italic;
  box-sizing: border-box;
  text-align: center;
}

.providerCard {
  background: #eee;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  .providerCardHeader {
    display: flex;
    align-items: center;
    height: 48px;
    font-weight: 500;

    .oauthIcon {
      width: 24px;
      height: 24px;
      margin-left: -8px;
      margin-right: 4px;
    }
  }

  .expandProvider {
    width: 40px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.8;

    &.collapsed svg {
      transform: rotate(-90deg);
    }

    &.disabled {
      pointer-events: none;

      svg {
        display: none;
      }
    }
  }

  .providerType {
    opacity: 0.75;
    margin-left: 8px;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 1px;
    margin-bottom: -1px;
    background: #d3d3d3;
    padding: 2px 8px;
    border-radius: 16px;
  }

  .removeProviderButton {
    margin-left: auto;
    --buttonTextColour: #747474;
    display: none;

    .icon {
      fill: currentColor;
    }

    & > div {
      text-transform: none;
      font-size: 14px;
    }

    &.noHide {
      display: block;
    }
  }

  &:hover .removeProviderButton {
    display: block;
  }

  .providerDetails {
    display: grid;
    grid-template-columns: auto auto;
    align-self: flex-start;
    gap: 16px 24px;
    padding: 16px 18px;
    padding-top: 6px;
    font-family: "Roboto Mono", monospace;
    max-width: 100%;
    box-sizing: border-box;
    overflow: auto;
    @include hideScrollbar;
  }

  .providerConfigValue {
    span {
      opacity: 0.7;
      font-style: italic;
    }
  }

  @include darkTheme {
    background-color: #2f2f2f;

    .providerType {
      background-color: #4a4a4a;
    }
  }
}

.addProviderForm {
  background: #eee;
  border-radius: 8px;
  max-width: 560px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  box-sizing: border-box;

  .errorMessage {
    color: #db5246;
    background-color: #db52461a;
    border-radius: 6px;
    padding: 8px 16px;
  }

  @include darkTheme {
    background-color: #2f2f2f;
  }
}

.addProviderFormButtons {
  display: flex;
  gap: 8px;
  margin-top: 16px;

  .button {
    --buttonBg: #e2e2e2;
  }
}

.providerSelect,
.securitySelect {
  background: #fff;
  flex-grow: 1;
  padding: 0px 10px;
  border: 1px solid #d6d6d6;
  border-radius: 6px;
  height: 34px;

  @include darkTheme {
    background-color: #1a1a1a;
    border-color: #545454;
    color: #d6d6d6;
  }
}

.securitySelect {
  font-family: "Roboto Mono", monospace;
}

.providerSelect {
  & > .providerSelectItem .oauthIcon {
    margin-left: 0;
  }
}

.providerSelectItem {
  display: flex;
  align-items: center;
  line-height: 22px;

  .oauthIcon {
    width: 22px;
    height: 22px;
    margin-right: 6px;
    margin-left: -6px;
  }
}

.stickyBottomBar {
  position: sticky;
  bottom: 0;
  align-self: stretch;
  background: var(--app-panel-bg);
  padding-bottom: 24px;
  margin: 24px -8px -32px -8px;
}

.formButtons {
  display: flex;
  gap: 12px;
  background: #ededed;
  padding: 8px;
  border-radius: 8px;

  .button {
    --buttonBg: #fafafa;
  }

  .disableButton {
    margin-left: auto;
  }

  @include darkTheme {
    background: #1c1c1c;
  }
}

.uiConfigSection {
  display: flex;
  gap: 56px;
  align-self: stretch;
  flex-wrap: wrap;
}

.uiConfigFormWrapper {
  @include isMobile {
    flex-grow: 1;
  }
}

.loginUIPreview {
  flex-grow: 1;
  max-width: 800px;
  margin-top: -32px;
  min-width: 0;
}

.loginUIPreviewHeader {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  padding-left: 6px;
  opacity: 0.9;

  span {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
  }

  .themeSwitch {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 6px 8px;
    border-radius: 16px;
    opacity: 0.7;
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }

    svg {
      width: 16px;
      height: 16px;
      margin-right: 4px;
      opacity: 0.7;
    }

    @include darkTheme {
      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }
}

.colorPickerSwatch {
  position: relative;
  border: 1px solid #d6d6d6;
  height: 32px;
  width: 32px;
  border-radius: 6px;
  background-clip: padding-box;
  cursor: pointer;

  .colorPickerPopup {
    position: absolute;
    bottom: -1px;
    left: -1px;
    z-index: 1;
  }

  @include darkTheme {
    border-color: #545454;
  }
}

.appleIcon {
  fill: #000;
}
.githubIcon {
  fill: #24292f;
}
:global(.dark-theme) {
  .appleIcon,
  .githubIcon {
    fill: #fff;
  }

  :global(.light-theme) {
    .appleIcon {
      fill: #000;
    }
    .githubIcon {
      fill: #24292f;
    }
  }
}
